﻿@{
    Layout = "~/Views/Shared/_LayoutDemo.cshtml";
}

@{
    ViewBag.Title = "Help Page";
}


@section MainContent{

    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li><a href="#Help">Help</a></li>
                <li class="active">Login as an user</li>
                </ol>
        </div>
    </div>           
    @Html.Action("GetUsersWithLogins", "User")

}

@section RightSideContent{
    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="active">Advertisement</li>
            </ol>
        </div>
    </div>
    @Html.Partial("_Ad", 3)
}
