﻿@{
    Layout = "~/Views/Shared/_LayoutDemo.cshtml";
}

@{
    ViewBag.Title = "Home Page";
}






@section MainContent{

    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                
                <li class="active">Home</li>
                </ol>
        </div>
    </div>
    <div class="jumbotron text-center">

            @Html.Action("GetInfoForFrontPage", "User", new { usercount = 3, postcount =3 })

    </div>
}

