﻿@using LJ.Models.Blog;
@model Post

    <div class="post">
        <div class="post-meta">
            <div class="row">
                <div class="post-title"><h2>@Html.PostLink(Model)</h2> </div>
            </div>
            <div class="row">
                <div class="post-category">by @Html.UserNameLink(Model)</div>
                <div class="posted-date">@Model.PostedOn.ToConfigLocalTime()</div>
            </div>
        </div>
        <div class="post-body">@Html.Raw(Model.ShortDescription)</div>
        <div class="post-category"><span>Category: </span>@Html.CategoryLink(Model.Category)</div>
        <div class="post-foot">
            @Html.ActionLink("read more...", "GetPost", "Blog",
        new
        {
            year = Model.PostedOn.Year,
            month = Model.PostedOn.Month,
            day = Model.PostedOn.Day,
            url = Model.Url
        },
        new { title = "continue..." }
    )
        </div>
    </div>

