﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Posts, Categories and Tags</title>

    <!-- jquery library -->
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>

    <!-- jquery ui library -->
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <link href="@Url.Content("~/Content/themes/sunny/jquery-ui-1.9.2.custom.css")" rel="stylesheet" />

    <!-- jqgrid -->
    <link href="@Url.Content("~/Scripts/Grid/ui.jqgrid.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/Grid/jquery.jqGrid.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Grid/grid.locale-en.js")"></script>

    <!-- tinyMCE -->
   @* <script src="@Url.Content("~/Scripts/tiny_mce/tinymce.min.js")"></script>*@
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

    <link href="@Url.Content("~/Content/themes/sunny/admin.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/Custom/admin.js")"></script>

</head>
<body>

    <!-- logout link -->
    <div style="text-align:right; margin-bottom:5px;">
        @Html.ActionLink("logout", "Logout")
    </div>

    <h2>Manage Posts, Categories and Tags</h2>

    <!-- tab control -->
    <div id="tabs">
        <ul>
            <li><a href="#tab-posts">Posts</a></li>
            <li><a href="#tab-cats">Categories</a></li>
            <li><a href="#tab-tags">Tags</a></li>
        </ul>

        <div id="tab-posts" class="tab">
            <table id="tablePosts" class="grid"></table>
            <div id="pagerPosts" class="pager">
            </div>
        </div>

        <div id="tab-cats" class="tab">
            <table id="tableCats" class="grid"></table>
            <div id="pagerCats" class="pager">
            </div>
        </div>

        <div id="tab-tags" class="tab">
            <table id="tableTags" class="grid"></table>
            <div id="pagerTags" class="pager">
            </div>
        </div>
    </div>
</body>
</html>


