﻿@model IEnumerable<CommentViewModel>

@using LJ.Models;
@using LJ.Controllers;
@using LJ.Infrastructure;
@using System.Globalization;
@using Microsoft.AspNet.Identity;
@using LJ.Repository;
@using LJ.Models.Blog;
@using LJ.ViewModels;
@using System.Web;

@{
 string username = User.Identity.GetUserName();
 string userDefaultImageId = User.Identity.GetIdentityImageId();
 var imgUrl = Url.Action("GetDefaultImage", "Blog", new { username = username }) ?? Url.Content("~/Content/UserImages/NoImage.jpg");
}
@foreach (var reply in Model)
{
    if (reply != null)
    {
        var replyId = reply.Id;
        var replyUserName = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(reply.UserName);
        var replyPassedTime = LJ.Infrastructure.Extensions.TimePassed(reply.DateTime); 
        var replyDate = StatusNames.GetStatusName(reply.StatusId) +
                               reply.DateTime.ToLongDateString().Replace(reply.DateTime.DayOfWeek.ToString() +
                                  ", ", "");
        var level = (int)ViewBag.level;
        var marginOffset = (level * 15).ToString() + "px";
        var marginOffsetForNewChildReply = ((level + 1) * 15).ToString() + "px";
        var likes = reply.CommentLikes;
        var dislikes = reply.CommentDislikes;
        var twshareUrl = "https://twitter.com/intent/tweet?text=" + reply.Body + "  -- " + reply.UserName + "&url=" + Url.Encode(HttpContext.Current.Request.Url.AbsoluteUri);

        <div class="row" id="rpreplyid" style="margin-left:@marginOffset;">
            <div class="col div-comment-top">
                <div class="comImg">
                    <div class="userImage comment-top"><img src="/Blog/GetImage/@reply.UserImageId" height="50" width="50" /></div>
                    <div class="commentUserName comment-top">
                        <span class="glyphicon glyphicon-user"></span> <strong>@replyUserName</strong>&nbsp;&nbsp;<span class="cmntTime">-- @replyPassedTime</span><br />
                        @replyDate
                        @if ((reply.StatusId & (int)Status.Deleted) == 0 && reply.UserName == User.Identity.GetUserName())
                        {
                            <br />
                            <a href="Blog/EditReply/@reply.Id" class="btn btn-default btn-xs comment-menu-items edit-comment-reply">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                            <a href="@Url.Action("DeleteReply", "Blog", new {replyid = reply.Id, username = username })"
                               alt="Delete comment" title="Delete comment" class="btn btn-default btn-xs confirm-delete">
                                <span class="glyphicon glyphicon-remove comment-menu-items" aria-hidden="true"></span>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    <div class="row" style="margin-left:@marginOffset;">
        <div class="col row-comment-body">
            @Html.Raw(reply.Body)
        </div>
    </div>

        if ((reply.StatusId & (int)Status.Deleted) == 0)
        {
            <div class="row replySubMenu row-bottom-comment-menu" style="margin-left:@marginOffset;">
                <div class="col">
                    <a class="linklike" alt="Like" title="Like @reply.UserName reply"
                       href="@Url.Action("UpdateLikes", "Blog", new { id = reply.Id, username = username, likeordislike = (int)Likes.LikeReply,  sortorder = ViewBag.CurrentSort })">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                    </a>
                    <a class="likecount" style="color:green;">@likes</a>
                    <a class="linklike" alt="Dislike" title="Dislike @reply.UserName reply"
                       href="@Url.Action("UpdateLikes", "Blog", new { id = reply.Id, username = username, likeordislike = (int)Likes.DislikeReply, sortorder = ViewBag.CurrentSort })">
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                    </a>
                    <a class="likecount" style="color:red;">@dislikes</a>

                    @if (Request.IsAuthenticated)
                    {
                        <a class="btn btn-default  btn-xs comment-menu-items new-comment-reply" href="/Blog/NewChildReply/@reply.Id"><span style="font-size:18px;" class="glyphicon glyphicon-edit"></span></a>
                    }
                </div>
            </div>           
        }
        @Html.Action("ChildReplies", new { parentReplyId = reply.Id, level = level + 1 })
    }
}
