﻿@model LJ.ViewModels.PostViewModel
@using LJ.Models.User;
@{
    long friendType = Model.UserPanelInfo.FriendType;

    string username = Model.UserPanelInfo.UserName;
    bool isFilter = Model.FilterCategory != null || Model.FilterTag != null;


    var categoryid = Model.FilterCategory == null ? 0 : Model.FilterCategory.Id;
    var tagid = Model.FilterTag == null ? 0 : Model.FilterTag.Id;



    string filterString = (categoryid == 0 ? "" : "By category \"" + Model.FilterCategory.Name + "\" ") +
                               (tagid == 0 ? "" : "By tag \"" + Model.FilterTag.Name + "\" ");


}

<div class="row">
    <div class="  col-xs-12 text-left">
        <ol class="breadcrumb">

            <li><a href="#"><span class="glyphicon glyphicon-user"></span> @Model.UserName</a></li>
            <li><a href="/Blog/GetUserPosts/@Model.UserName">Posts</a></li>


            @if (isFilter)
            {
                <li class="active">
                    @Html.ActionLink(filterString, "GetUserPosts", "Blog",
                       new { id = Model.UserPanelInfo.UserName, categoryid = categoryid, tagid = tagid }, null)
            </li>
            }
            <li class="active">Post</li>
        </ol>
    </div>
</div>


<div class="row" style="margin-bottom:16px;">
    <div class="col-xs-12 text-right ">
        <span class="label label-default label-primary navigation-posts" style=" padding:10px 10px;">Posts <span class="badge">@Model.PostCount</span></span>
    </div>
</div>


        @using (Html.BeginForm("DeletePost", "Blog",
                       new
                       {
                           postid = Model.Id,
                           nextid = Model.NextPostId,
                           previd = Model.PrevPostId,
                           username = Model.UserName
                       },
                           FormMethod.Post))   
        {
            <div class="row" style="margin-bottom:16px;">
                <div class="col-xs-12 text-center">

                    <div class="btn-group">

                        <a class="btn btn-sm btn-primary @Html.Raw(Model.PrevPostId !=0 ? "" : "disabled")"
                           title="Previous post" id="prevpost"
                           href="@Url.Action( "GetUserPost", "Blog" ,
                            new {
                                sortorder = Model.SortOrder,
                                id= Model.FirstPostId })">
                            <span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-left"></span>
                        </a>


                        <a class="btn btn-sm btn-primary @Html.Raw(Model.PrevPostId !=0 ? "" : "disabled")"
                           title="Previous post" id="prevpost"
                           href="@Url.Action( "GetUserPost", "Blog" ,
                            new {
                                sortorder = Model.SortOrder,
                                id= Model.PrevPostId })">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>

                        @if ((Model.UserPanelInfo.FriendType & (int)FriendType.MySelf) > 0)
                        {
                            <a href="/Blog/EditPost/@Model.Id" class="btn btn-default btn-sm "
                               title="@Model.UserName, you can edite your post">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>

                            <button type="submit" class="btn btn-default btn-sm confirm-delete-post"
                                    alt="Delete post" title="@Model.UserName, you can delete your post">
                                <span class="glyphicon glyphicon-remove comment-menu-items" aria-hidden="true"></span>
                            </button>
                        }

                        

                        <a class="btn btn-sm btn-default "
                           title="Post top ratings" id="prevpost"
                           href="@Url.Action( "GetPostRatings", "User" ,
                            new {

                                id= Model.Id })" target="_blank">
                            <span class="glyphicon glyphicon-stats comment-menu-items" aria-hidden="true"></span>
                        </a>

                        <a class="btn btn-sm btn-primary @Html.Raw(Model.NextPostId != 0 ? "" : "disabled")"
                           title="Next post"
                           href="@Url.Action( "GetUserPost", "Blog" ,
                            new {
                                sortorder = Model.SortOrder,
                                id= Model.NextPostId })">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>


                        <a class="btn btn-sm btn-primary @Html.Raw(Model.NextPostId !=0 ? "" : "disabled")"
                           title="Previous post" id="prevpost"
                           href="@Url.Action( "GetUserPost", "Blog" ,
                            new {
                                sortorder = Model.SortOrder,
                                id= Model.LastPostId })">
                            <span class="glyphicon glyphicon-chevron-right"></span><span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>


                </div>
            </div>
        }




