﻿@model LJ.ViewModels.ModelViewPosts
@using Microsoft.AspNet.Identity;
@using LJ.Infrastructure;
@using System.Globalization;
@using Microsoft.AspNet.Identity;
@using LJ.Repository;
@using LJ.Models.Blog;
@using LJ.ViewModels;
@using LJ.Models.User;
@using System.Web;
@using System.Web.Mvc.Ajax;


@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    string username = User.Identity.GetUserName();
    Model.ModelViewSideBar.UserPanelInfo = Model.UserPanelInfo;
    long actionId = Model.UserPanelInfo.FriendType & (long)FriendType.Action;
    string action =  "Get" + Enum.GetName(typeof(FriendType),actionId);
    var categoryid = Model.Category == null ? 0 : Model.Category.Id;
    var tagid = Model.Tag == null ? 0 : Model.Tag.Id; 
}


@section CurrentPageInfo{

@if ((Model.UserPanelInfo.FriendType & (int)FriendType.WithoutUserPanel) == 0)
{
    <span class="glyphicon glyphicon-user"></span> @Model.UserPanelInfo.UserName
}
 @Model.UserPanelInfo.MsgForUserType

}

@section MainContent{
 @if ((Model.UserPanelInfo.FriendType & (int)FriendType.WithoutUserPanel) == 0)
 {     
     @Html.Partial("_UserPanel", @Model.UserPanelInfo)
 }
 
@Html.Partial("PostsPaging", Model)

    @if (Model.TotalPosts == 0)
    {
        <div class="row">
            <div class="  col-sm-offset-3 col-sm-5  col-xs-12  text-center">
                <img class="img-responsive col-xs-12 " src="~/content/userimages/noposts.jpg" style="border:solid 1px gray;"/>
            </div>
        </div>
    }
    else
    {
        foreach (var post in Model.PostsShort)
        {
            var postTemp = new Post { Id = post.Id, Title = post.Title, ApplicationUser = post.ApplicationUser};
            var postLikes = post.PostLikesCount;
            var postDislikes = post.PostDislikesCount;
            var commentsCount = post.CommentsCount;
           // var groupStr = post.Groups.Count() == 0 ? "" :
            //            "Visible for " + String.Join(", ", post.Groups.OrderBy(p => p.Name).Select(p => p.Name).ToArray());

            <div class="row">
                <div class="col-md-2 col-xs-4">
                    <img id="imgDefault" class="userpic-size-md" src="/Blog/GetImage/@post.UserImageId">
                    
                </div>

                <div class="col-md-8 col-xs-8" style="margin-bottom:12px;">                   
                    By <span class="glyphicon glyphicon-user"></span> @Html.UserNameLinkToPosts(postTemp)<br />
                    <i>@post.PostedOn.ToConfigLocalTime()</i>
                </div>

                <div class="col-md-2 col-xs-8 " style="margin-bottom:12px;">
                   
                    <a href="/User/GetPostRatings/@post.Id#TopOrder" title="Current  position in top">
                        <span class="glyphicon glyphicon-stats" style="font-size:20px"></span>
                    </a> @post.TopOrder
                            
                    <a href="/User/GetPostRatings/@post.Id" title="Current top rating">
                        <b><span style="font-size:22px">Σ</span></b>
                    </a> @post.Rating
                    
               </div>

                <div class="col-md-10 col-xs-12" style="margin-bottom:12px;">
                    <h4>
                        @Html.PostLink(postTemp,categoryid, tagid)
                        
                    </h4>
                  </div>              
            </div>

            <div class="row" style="margin-bottom:10px;">
                <div class="col-xs-12 ">
                    <div>@Html.Raw(post.ShortDescription) </div>                   
                </div>
                <div class="col-xs-12 ">
                    <div>@Html.PostLink(postTemp, categoryid, tagid, "〈 Read more ... 〉")</div>
                </div>
                
            </div>

            <div class="row" style="margin-bottom:10px;">
                <div class="col-xs-12"><span>Category: </span>
                    @Html.CategoryLink(post.Category, Model.UserPanelInfo.UserName, action, Model.PostsPerPage)</div>
                <div class="col-xs-12">
                    <span>Tags: </span>
                    @{
                      var f = 0;  
                    }
                    @foreach (var t in post.Tags.OrderBy(p => p.Name))
                    {
                        if ( f++ > 0) {@Html.Raw(", ")}
                        @Html.TagLink(t, Model.UserPanelInfo.UserName, action, Model.PostsPerPage)
                    }
                </div>
            </div>

    
    <div class="row" style="margin-bottom:10px;" >
        <div class="col-xs-12 ">

            @if (Request.IsAuthenticated)
            {
                <a class="linklike" href="@Url.Action("UpdateLikes", "Blog",
                       new { id = post.Id, username = username, likeordislike = (int)Likes.LikePost, sortorder = ViewBag.CurrentSort })">
                    &nbsp;<span style="font-size:22px;" class="glyphicon glyphicon-thumbs-up"></span>
                </a>
                <a class="likecount" style="color:green;">@postLikes</a>

                <a class="linklike" href="@Url.Action("UpdateLikes", "Blog",
                        new { id = post.Id, username = username, likeordislike = (int)Likes.DislikePost, sortorder = ViewBag.CurrentSort })">
                    <span style="font-size:22px;" class="glyphicon  glyphicon-thumbs-down"></span>
                </a>
                <a class="likecount" style="color:red;">@postDislikes</a>
            }
            else
            {
                <a>
                    &nbsp;<span style="font-size:22px;" class="glyphicon glyphicon-thumbs-up"></span>
                </a>
                <a class="likecount" style="color:green;">@postLikes</a>

                <a>
                    <span style="font-size:22px;" class="glyphicon  glyphicon-thumbs-down"></span>
                </a>
                <a class="likecount" style="color:red;">@postDislikes</a>
            }
            @Html.Raw("&nbsp;") <a href="/Blog/GetUserPost/@post.Id#ShowComments" title="See comments for post  @post.Title ">
         
                @if (commentsCount < 2)
                {
                    <span style="font-size:18px;"> @commentsCount</span>  @Html.Raw("Comment")}
                else
                {<span style="font-size:18px;"> @commentsCount</span>  @Html.Raw("Comments")}
          </a>
        </div>
    </div>
      <hr/>
        }
      }
}

@section RightSideContent{
    @Html.Partial("_Sidebars", Model.ModelViewSideBar)
}


@section Scripts
{  <!-- Scripts level 1 -->
    <!-- jquery ui library -->
    <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <!-- LJ Custom library -->
    <script src="~/Scripts/blogLJ/blog.js"></script>
}



                   