﻿@model DateTime
@using LJ.Models.User;
@using LJ.ViewModels.User;


@section Styles
{
    <link rel="stylesheet" href="/content/bootstrap-datetimepicker.min.css" />
}




@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
   
   
}

@section CurrentPageInfo
{
    
}


@section MainContent{
 
    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="active">Statistics by visits</li>

            </ol>
        </div>
    </div>

    <div class="row">
        <div class="  col-xs-6 col-md-4 col-sm-offset-4 text-left">




            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>



        </div>
    </div>



    <div class="row row-scroll" style="margin-top:80px;">
        <div class="  col-xs-12 text-center">
            <h4>Website visits and visitors in <span id="span-month"></span> </h4>

        </div>
        <div class="  col-xs-12 text-left">
            <div id="container" style=" min-width: 120px; margin: 0 auto"></div>

        </div>
    </div>


}




@section RightSideContent{
    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="active">Advertisement</li>
            </ol>
        </div>
    </div>
    @Html.Partial("_Ad", 2)
}



@section Scripts {

    <!-- Scripts Level 1-->
    <!-- highcharts -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <!-- datetimepicker  https://eonasdan.github.io/bootstrap-datetimepicker/Installing/ -->
    <script type="text/javascript" src="/scripts/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.min.js"></script>

    <script>



        $(function () {


            $('#datetimepicker1').datetimepicker({
                defaultDate: new Date(),
                format: 'MMMM YYYY',
                maxDate: moment().endOf("month"),
                //minDate: new Date("@Model")
            });

            fnGetStatistics(0, 0);

            $("#datetimepicker1").on("dp.change", function (e) {
                fnGetStatistics(e.date.format('M'), e.date.format('YYYY'));
            });



                $('#container').bind('mousemove touchmove touchstart', function (e) {
                    var chart,
                        point,
                        i,
                        event;

                    for (i = 0; i < Highcharts.charts.length; i = i + 1) {
                        chart = Highcharts.charts[i];
                        event = chart.pointer.normalize(e.originalEvent); // Find coordinates within the chart
                        point = chart.series[0].searchPoint(event, true); // Get the hovered point

                        if (point) {
                            point.highlight(e);
                        }
                    }
                });
                /**
                 * Override the reset function, we don't need to hide the tooltips and crosshairs.
                 */
                Highcharts.Pointer.prototype.reset = function () {
                    return undefined;
                };

                /**
                 * Highlight a point by showing tooltip, setting hover state and draw crosshair
                 */
                Highcharts.Point.prototype.highlight = function (event) {
                    this.onMouseOver(); // Show the hover marker
                    this.series.chart.tooltip.refresh(this); // Show the tooltip
                    this.series.chart.xAxis[0].drawCrosshair(event, this); // Show the crosshair
                };

                /**
                 * Synchronize zooming through the setExtremes event handler.
                 */
                function syncExtremes(e) {
                    var thisChart = this.chart;

                    if (e.trigger !== 'syncExtremes') { // Prevent feedback loop
                        Highcharts.each(Highcharts.charts, function (chart) {
                            if (chart !== thisChart) {
                                if (chart.xAxis[0].setExtremes) { // It is null while updating
                                    chart.xAxis[0].setExtremes(e.min, e.max, undefined, false, { trigger: 'syncExtremes' });
                                }
                            }
                        });
                    }
                }


                function fnGetStatistics(month, year) {
                    $.post("@Url.Action("GetVisitorsForMonthChart", "Visitor")",
                         { month: month, year: year }, function (data) {

                             $('#container').empty();
                             var statisticsDate = moment([parseInt(data.data.year), parseInt(data.data.month) - 1]).endOf("month");
                             var statisticsMonthName = statisticsDate.format('MMMM');
                             $("#span-month").text(statisticsMonthName);

                             var xData = data.data.days;

                             var datasets = [
                             {
                                 name: "Visits",
                                 data: data.data.visits,
                                 unit: "visits",
                                 type: "line",
                                 valueDecimals: 0
                             }, {
                                 name: "Visitors",
                                 data: data.data.visitors,
                                 unit: "visitors",
                                 type: "line",
                                 valueDecimals: 0
                             }, {
                                 name: "Authenticated",
                                 data: data.data.users,
                                 unit: "visitors",
                                 type: "line",
                                 valueDecimals: 0
                             },
                                {
                                    name: "Anonymous",
                                    data: data.data.ananimuses,
                                    unit: "visitors",
                                    type: "line",
                                    valueDecimals: 0
                                }];
                             // });

                             // Get the data. The contents of the data file can be viewed at
                             // https://github.com/highcharts/highcharts/blob/master/samples/data/activity.json
                             //  $.getJSON('https://www.highcharts.com/samples/data/jsonp.php?filename=activity.json&callback=?', function (activity) {
                             $.each(datasets, function (i, dataset) {

                                 // Add X values
                                 dataset.data = Highcharts.map(dataset.data, function (val, j) {

                                     return [xData[j], val];
                                 });

                                 $('<div class="chart" style=" min-width: 120px;height: 160px;">')
                                     .appendTo('#container')
                                     .highcharts({
                                         chart: {
                                             marginLeft: 40, // Keep all charts left aligned
                                             spacingTop: 20,
                                             spacingBottom: 20
                                         },
                                         title: {
                                             text: dataset.name,
                                             align: 'left',
                                             margin: 0,
                                             x: 30
                                         },
                                         credits: {
                                             enabled: false
                                         },
                                         legend: {
                                             enabled: false
                                         },
                                         xAxis: {
                                             crosshair: true,
                                             events: {
                                                 setExtremes: syncExtremes
                                             },
                                             labels: {
                                                 format: '{value} '
                                             }
                                         },
                                         yAxis: {
                                             title: {
                                                 text: null
                                             }
                                         },
                                         tooltip: {
                                             positioner: function () {
                                                 return {
                                                     x: this.chart.chartWidth - this.label.width, // right aligned
                                                     y: -6 // align to title
                                                 };
                                             },
                                             borderWidth: 0,
                                             backgroundColor: 'none',
                                             pointFormat: '{point.y}',
                                             headerFormat: '',
                                             shadow: false,
                                             style: {
                                                 fontSize: '14px'
                                             },
                                             valueDecimals: dataset.valueDecimals
                                         },
                                         series: [{
                                             data: dataset.data,
                                             name: dataset.name,
                                             type: dataset.type,
                                             color: Highcharts.getOptions().colors[i],
                                             fillOpacity: 0.3,
                                             tooltip: {
                                                 valueSuffix: ' ' + dataset.unit
                                             }
                                         }]
                                     });
                             });
                         });
                }
            //--------------------------------------
        });


    </script>
}




