﻿@model IEnumerable<VisitorActionsViewModel>
@using LJ.ViewModels.Visitor;
@using LJ.Models.Visitor;


@section Styles
{
    <link rel="stylesheet" href="/content/bootstrap-datetimepicker.min.css" />
}




@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";


}

@section CurrentPageInfo
{

}


@section MainContent{

    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="active">Admin statistics by visitors actions</li>
            </ol>
        </div>
    </div>


<div class="row">
    <div class="  col-sm-5 col-xs-12 hidden-xs text-left"><b>Page / Page Type</b></div>
    
    <div class="  col-sm-2 col-xs-3 text-left">
        <abbr title="The total number of pages viewed. This number includes repeated views of a single page. In other words, a single person may view the same page several times and each view is counted as a visit.">
            <b>Visits</b>
        </abbr>
    </div>
    
   
    <div class="  col-sm-2 col-xs-3 text-left">
        <abbr title="The number of individual people who have viewed a specific page at least once during a visit. For example, if a single user views a page more than once during the same visit">
            <b>Visitors</b>
        </abbr>
    </div> 

    <div class="  col-sm-3 col-xs-6 text-left">
        <abbr title="The average amount of time users spend viewing a specific page or screen, or set of pages or screens.">
            <b>Avg. Spent Time</b>
        </abbr>
    </div>
</div>
<div class="h-divider" style="margin-bottom:14px;"></div>

@if (Model.Count() == 0)
{
    <div class="row">
        <div class="  col-xs-12 text-left">No records</div>
    </div>
}
else
{//string.Concat(m.Action.Select(x => Char.IsUpper(x) ? " " + x : x.ToString())).TrimStart(' '),
    var actions = Model.Select(m => new {
        Controller = m.Controller,
        Action = m.Action,
        ActionTypeName = Enum.GetName(typeof(ActionType), m.ActionType),
        Visits = m.Count1,
        Visitors = m.Count2 + m.Count3,
        SpentTime = TimeSpan.FromTicks( m.SpentTimeMC /(m.Count2 + m.Count3))
    }).OrderByDescending(r => r.SpentTime).ThenBy(r => r.ActionTypeName);


    foreach (var i in actions)
    {

        var action = i.ActionTypeName== null? "" : string.Concat(i.ActionTypeName.Select(x => Char.IsUpper(x) ? " " + x : x.ToString())).TrimStart(' ');
<div class="row">
    <div class="  col-sm-12 col-sm-12  text-left"><u>@i.Controller/@i.Action</u></div>
    <div class="  col-sm-5 col-xs-12 text-left">@action </div>
   
    <div class="  col-sm-2 col-xs-3 text-left">@i.Visits</div>
    <div class="  col-sm-2 col-xs-3 text-left">@i.Visitors </div>
    <div class="  col-sm-3 col-xs-6 text-left">@i.SpentTime</div>
</div>
 <hr />
}

}

}


@section RightSideContent{
    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="active">Advertisement</li>
            </ol>
        </div>
    </div>
    @Html.Partial("_Ad", 2)
}


@section Scripts {

}



