﻿@model  IEnumerable<UserRatingViewModel>
@using LJ.ViewModels.User;
@using LJ.Models.Account;

@{
    Layout = "~/Views/Shared/_LayoutDemo.cshtml";
}

@section CurrentPageInfo
{
    
}

@{
    Random rnd = new Random();
    
    int perPage = (int)ViewBag.perPage;
    int pageNumber = (int)ViewBag.pageNumber;
    int[] options = { 6, 8, 10, 12, 24, 48, 100, 200 };
    int y = 1 + perPage * (pageNumber - 1);
    int usersCount= (int)ViewBag.usersCount;
    int pagesNumber = (int)Math.Ceiling((double)usersCount / perPage);
 }
@section MainContent{ 
    
   <div class="row">
    <div class="  col-xs-12 text-left">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
            <li class="active">Blogs by current top rating</li>          
        </ol>
    </div>
</div> 
    
  <div class="row" style="margin-top:15px;">
      <div class="col-md-1 col-xs-2 hidden-xs text-left"><b>Top#</b></div>
      <div class="col-md-2 col-xs-3 hidden-xs text-left"><b>Changes</b></div>
      <div class="col-md-6 col-xs-4 text-left"><b>Blog</b></div>
      
     
      <div class="col-md-3 col-xs-8  text-left"><b>Current rating</b></div>
     
      
      </div>

    @foreach (var u in Model)
    {
        int order2 = u.TopOrder;
        int order1 = u.OldTopOrder;
        var diff = Math.Abs((int)(order1 - order2));
        var diffRating = u.Rating - u.OldRating;
        var sign = diffRating > 0 ? "(+" : diffRating == 0 ? "( " : "(-";
        var ratingDiff = sign + Math.Abs((int)(u.Rating - u.OldRating)) + ")";

        <hr />
        <div class="row" style="margin-top:15px;">

            <div class="col-md-1 col-xs-1 text-left">
                <span class="badge" style="background-color: gray;margin-bottom:9px;">@order2</span>
            </div>

            <div class="col-md-2 col-xs-10 text-left">

                @if (order1 < order2)
                {
                    <span class="glyphicon glyphicon-arrow-down" style="color:gray;margin-bottom:14px;"></span>  @diff
                }
                else if (order1 > order2)
                {
                    <span class="glyphicon glyphicon-arrow-up" style="color:green;margin-bottom:14px;"></span> @diff
                }
                else
                {

                    <span class="glyphicon glyphicon-arrow-up" style="color:green;margin-bottom:14px;"></span>
                    <span class="glyphicon glyphicon-arrow-down" style="color:gray;margin-bottom:14px;"></span>

                }

            </div>

            <div class="col-md-2 col-xs-4 text-left">
                <img class="userpic-size-md" src="@(u.User.DefaultUserImage == null ? Url.Content(" ~ /Content/UserImages/NoImage.jpg") : @Url.Content("/Blog/GetImage?id=" + u.User.DefaultUserImageId))">
            </div>

            <div class="col-md-4 col-xs-8 text-left">
                <span class="glyphicon glyphicon-user"></span>
                @Html.ActionLink(u.User.UserName, "GetProfile", "User", new { id = u.User.UserName }, null)<br />
                  @u.User.ApplicationUserInfo.FirstName  @u.User.ApplicationUserInfo.LastName
            </div>
                           
            <div class="col-md-3 col-xs-4 text-left">
                    <span class="badge " style="background-color: gray;margin-bottom:10px;">@u.Rating  @ratingDiff</span>
            </div>
       </div>
                y++;
    }

}

@section  FooterContent{

    <div class="row">

        <div class="col-sm-8">
            <ul class="pagination pagination-md  pull-left">

                @for (int i = 1; i <= pagesNumber; i++)
                {
                    <li @Html.Raw(pageNumber == i ? "class='active'" : "")>

                        @Html.ActionLink(i.ToString(), "GetCurrentTopUsers", new { id = i, perpage = perPage })
                    </li>
                }
            </ul>
        </div>

        @using (Html.BeginForm("GetCurrentTopUsers", "User"))
        {
            <div class="col-xs-3 col-xs-offset-1 text-right">
                <div style="vertical-align:bottom;padding-top:19px;">
                    <div class="input-group ">
                        <span class="input-group-addon">per page</span>
                        <select class="form-control select-perpage" name="perpage" id="perpage" style="width:70px; ">
                            @foreach (var option in options)
                            {
                                <option @(option == perPage ? "selected=\"selected\"" : "")>@option</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        }
    </div>

}

@section RightSideContent{
    <div class="row hidden-xs ">
        <div class="  col-xs-12 text-left hidden-xs">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="active">Advertisement</li>
            </ol>
        </div>

        @Html.Partial("_Ad", ((perPage > usersCount ? usersCount : perPage) / 6 + 1))
    </div>

}


@section Scripts {

    <script>
        $(document).ready(function () {

            $(".select-perpage").change(function (e) {

                $(this).closest("form").submit();
            });





            $("li.active a").click(function (e) {

                e.preventDefault();

            });

        });
    </script>
}

