﻿@model StatisticsByFriendsViewModel
@using LJ.Models.User;
@using LJ.ViewModels.User;


@section Styles
{
    <link rel="stylesheet" href="/content/bootstrap-datetimepicker.min.css" />
}


@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
   
    var user = Model.User;
    int defaultUserImageId = (int)(user.DefaultUserImageId == null ? 1 : user.DefaultUserImageId);
    var friendsWithArxiv = Model.User.FriendsWithArxiv
          .GroupBy(p => p.FriendId, p => p)
          .Select(k => new
          {
              Friend = k.FirstOrDefault().Friend,
              Date = k.Max(h => h.Date),
              FriendWithArxiv = k.OrderByDescending(s => s.Date)
          })
          .OrderByDescending(h => h.Date)
          .ToList();
    Random rnd = new Random();
}

@section CurrentPageInfo
{
    @user.UserName, you are viewing your journal
}


@section MainContent{
    @Html.Partial("_UserPanel",
           new UserPanelInfo
           {
               VisitorUserName = user.UserName,
               UserName = user.UserName,
               FriendType = (int)FriendType.MySelf,
               DefaultUserImageId = defaultUserImageId,
               FriendGroups = user.FriendGroups

           })

    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> @user.UserName</a></li>
                <li class="active">Statistics by Comments (under construction)</li>

            </ol>
        </div>
    </div>

    <div class="row">
        <div class="  col-xs-6 col-md-4 col-sm-offset-4 text-left">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-scroll" style="margin-top:80px;">
        <div class="  col-xs-12 text-left">
            <div id="container1" style=" min-width: 120px;height: 400px; margin: 0 auto"></div>
        </div>
    </div>

<div class="row row-scroll" style="margin-top:80px;">
    <div class="  col-xs-12 text-left">
        <div id="container2" style=" min-width: 120px;height: 400px; margin: 0 auto"></div>

    </div>
</div>


<div class="row row-scroll" style="margin-top:80px;">
    <div class="  col-xs-12 text-left">
        <div id="container3" style=" min-width: 120px;height: 400px; margin: 0 auto"></div>

    </div>
</div>

<div class="row row-scroll" style="margin-top:80px;">
    <div class="  col-xs-12 text-left">
        <div id="container4" style=" min-width: 120px;height: 400px; margin: 0 auto"></div>

    </div>
</div>
}




@section RightSideContent{
    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="active">Advertisement</li>
            </ol>
        </div>
    </div>
    @Html.Partial("_Ad", 3)
}



@section Scripts {

    <!-- Scripts Level 1-->
    <!-- highcharts -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <!-- datetimepicker  https://eonasdan.github.io/bootstrap-datetimepicker/Installing/ -->
    <script type="text/javascript" src="/scripts/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.min.js"></script>

    <script>

    $(function () {
        $('#datetimepicker1').datetimepicker({
            defaultDate: new Date(),
            format: 'MMMM YYYY',
            maxDate: moment().endOf("month"),
           // minDate: new Date("@ViewBag.StartDateRange")
        });

        fnGetStatistics(0, 0);

        $("#datetimepicker1").on("dp.change", function (e) {
            fnGetStatistics(e.date.format('M'), e.date.format('YYYY'));
        });
    });


    //---------------------------------------
    function fnGetStatistics(month, year) {

        $.post("@Url.Action("GetCommentsChart", "User", new { id = Model.User.UserName })",
                                         { month: month, year: year }, function (data) {


                                             var statisticsDate = moment([parseInt(data.year), parseInt(data.month) - 1]).endOf("month");
                                             var statisticsMonthName = statisticsDate.format('MMMM');

                                             $('#container1').highcharts({
                                                 chart: {
                                                     type: 'column'
                                                 },
                                                 title: {
                                                     text: 'Comments  received in ' + statisticsMonthName
                                                 },
                                                 colors: ['#0d47a1', 'green', 'gray'],
                                                 subtitle: {
                                                     text: 'comments  left in your posts'
                                                 },
                                                 xAxis: {
                                                     categories: data.days,
                                                     gridLineWidth: 1,
                                                     crosshair: true
                                                 },
                                                 yAxis: {
                                                     min: 0,
                                                     title: {
                                                         text: 'Days in ' + +statisticsMonthName
                                                     }
                                                 },
                                                 tooltip: {
                                                     headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                                     pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                                         '<td style="padding:0"><b>{point.y}</b></td></tr>',
                                                     footerFormat: '</table>',
                                                     shared: true,
                                                     useHTML: true
                                                 },
                                                 plotOptions: {
                                                     column: {
                                                         pointPadding: 0.2,
                                                         borderWidth: 0
                                                     }
                                                 },
                                                 series: [{
                                                     name: 'Comments',
                                                     data: data.chartdata11

                                                 }, {
                                                     name: 'Users',
                                                     data: data.chartdata12

                                                 }, {
                                                     name: 'Posts',
                                                     data: data.chartdata13

                                                 }]
                                             });



                                             $('#container2').highcharts({
                                                 title: {
                                                     text: 'Comments  received in ' + statisticsMonthName
                                                 },
                                                 subtitle: {
                                                     text: 'comments left by you and other users'
                                                 },
                                                 // colors: [Highcharts.getOptions().colors[0], Highcharts.getOptions().colors[2]],
                                                 colors: ['#0d47a1', 'green'],
                                                 xAxis: {
                                                     title: {
                                                         text: 'Days ' + statisticsMonthName
                                                     },
                                                     gridLineWidth: 1,
                                                     categories: data.days
                                                 },
                                                 yAxis: {
                                                     min: 0,
                                                     tickInterval: 1,
                                                     title: {
                                                         text: 'Comments'
                                                     },
                                                     /* stackLabels: {
                                                          enabled: true,
                                                          style: {
                                                              fontWeight: 'bold',
                                                              color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                                                          }
                                                      }*/
                                                 },


                                                 /*  labels: {
                                                       items: [{
                                                           html: 'Total  for ' + statisticsMonthName,
                                                           style: {
                                                               left: '100px',
                                                               top: '10px',
                                                               color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                                                           }
                                                       }]
                                                   },*/

                                                 tooltip: {
                                                     shared: true,
                                                     crosshairs: true
                                                 },
                                                 plotOptions: {
                                                     column: {
                                                         stacking: 'normal'
                                                     }
                                                 },
                                                 series: [{
                                                     type: 'column',
                                                     name: 'your comments',
                                                     data: data.chartdata21
                                                 }, {
                                                     type: 'column',
                                                     name: 'other users comments',
                                                     data: data.chartdata22
                                                 }, {
                                                     type: 'pie',
                                                     name: 'total  comments ',
                                                     data: [{
                                                         name: 'Your comments left in your posts ',
                                                         y: data.chartTotal21,
                                                         color: '#0d47a1'
                                                     }, {
                                                         name: 'Other usres comments left in your posts',
                                                         y: data.chartTotal22,
                                                         color: 'green'
                                                     }],
                                                     center: [20, 20],
                                                     size: 70,
                                                     showInLegend: false,
                                                     dataLabels: {
                                                         enabled: false
                                                     }
                                                 }]
                                             });
                                            

                                             $('#container3').highcharts({
                                                 title: {
                                                     text: 'Comments  posted  in ' + statisticsMonthName
                                                 },
                                                 subtitle: {
                                                     text: 'comments you left in your posts and other users posts'
                                                 },

                                                 // colors: [Highcharts.getOptions().colors[0], Highcharts.getOptions().colors[2]],
                                                 colors: ['#0d47a1', 'gray'],
                                                 xAxis: {
                                                     title: {
                                                         text: 'Days ' + statisticsMonthName
                                                     },
                                                     gridLineWidth: 1,
                                                     categories: data.days
                                                 },
                                                 yAxis: {
                                                     min: 0,
                                                     tickInterval: 1,
                                                     title: {
                                                         text: 'Comments'
                                                     },
                                                     /* stackLabels: {
                                                          enabled: true,
                                                          style: {
                                                              fontWeight: 'bold',
                                                              color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                                                          }
                                                      }*/
                                                 },


                                                 /* labels: {
                                                      items: [{
                                                          html: 'Total  for ' + statisticsMonthName,
                                                          style: {
                                                              left: '100px',
                                                              top: '10px',
                                                              color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                                                          }
                                                      }]
                                                  },*/

                                                 tooltip: {
                                                     shared: true,
                                                     crosshairs: true
                                                 },
                                                 plotOptions: {
                                                     column: {
                                                         stacking: 'normal'
                                                     }
                                                 },
                                                 series: [{
                                                     type: 'column',
                                                     name: 'in your posts',
                                                     data: data.chartdata41
                                                 }, {
                                                     type: 'column',
                                                     name: 'in other users posts',
                                                     data: data.chartdata42
                                                 }, {
                                                     type: 'pie',
                                                     name: 'total  comments ',
                                                     data: [{
                                                         name: 'In your posts',
                                                         y: data.chartTotal41,
                                                         color: '#0d47a1'
                                                     }, {
                                                         name: 'In usres posts',
                                                         y: data.chartTotal42,
                                                         color: 'gray'
                                                     }],

                                                     center: [20, 20],
                                                     size: 70,
                                                     showInLegend: false,
                                                     dataLabels: {
                                                         enabled: false
                                                     }
                                                 }]
                                             });
                                             //--------------------------
                                         });
    }




    function fnTooltipFormatter() {
        return "<b>" + this.point.name + "</b><br/>" +
            this.series.name + " <span class='badge'>" +
            this.y + "</span><br/>Percentage  <span class='badge'>" + Number(this.percentage).toFixed(1) + "%</span>";
    }


    </script>
}




