﻿@model UserProfile
@using LJ.Models.User;
@using LJ.Models.Blog;
@using LJ.ViewModels.User;
@using Microsoft.AspNet.Identity;

@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}



@{
    int  y;
    var user = Model.User;
    var statistics= Model.Statistics;
    var appUserName = User.Identity.GetUserName();

    var friendsFor = user.FriendsFor.Select(f => f.UserName).OrderBy(a => a);
    var friendsWith = user.FriendsWith.Select(f => f.UserName).OrderBy(a => a);
    var mutualFriends = user.FriendsWith
                        .Join(user.FriendsFor, f1 => f1.UserName, f2 => f2.UserName, (f1, f2) => f1.UserName)
                        .OrderBy(f => f);

    var userInfo = user.ApplicationUserInfo;
    var userImagesCount = user.UserImages == null ? 0 : user.UserImages.Count();
    var timeCreated = LJ.Infrastructure.Extensions.TimePassed(user.Created);

    // setup  for section "CurrentPageInfo"
    string msgForUserType = "";
    int friendType = 0;


    if (appUserName == "")
    {
        friendType = (int)FriendType.Anonymous;
        msgForUserType = "";
    }
    else
    {
        if (appUserName == user.UserName)
        {
            friendType = (int)FriendType.MySelf;
        }
        else
        {
            friendType = (friendsFor.Any(u => u == appUserName) ? (int)FriendType.Friend : 0) +
                         (friendsWith.Any(u => u == appUserName) ? (int)FriendType.FriendOf : 0);
            if (friendType == 0) { friendType = (int)FriendType.NoConnection; }

        }

        if (!ApplicationUser.MessageForFriendType.TryGetValue(friendType, out msgForUserType))
        {
            msgForUserType = "";
        }
    }


    var userPanelInfo = new UserPanelInfo()
   {
       UserName = user.UserName,
       VisitorUserName = appUserName,
       DefaultUserImageId = user.DefaultUserImageId ?? 1,
       FriendType = friendType,
       MsgForUserType = msgForUserType,
       FriendGroups = user.FriendGroups
   };

}

@section CurrentPageInfo{
   <span class="glyphicon glyphicon-user"></span> @user.UserName @msgForUserType
}



@section MainContent
{

@Html.Partial("_UserPanel", userPanelInfo)

<div class="row">
    <div class="  col-xs-12 text-left">
        <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> @user.UserName</a></li>        
            <li class="active">Profile</li>

        </ol>
    </div>
</div> 

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Account info</div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.User.Created)
                    </div>
                    <div class="col-md-8">
                        @timeCreated
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        @Html.Label("Published posts")
                    </div>
                    <div class="col-md-8">
                        @Model.Statistics.PostsCount
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        @Html.Label("Posted comments")
                    </div>
                    <div class="col-md-8">
                        @(Model.Statistics.PostedComments + Model.Statistics.PostedReplies)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        @Html.Label("Resived comments")
                    </div>
                    <div class="col-md-8">
                        @(Model.Statistics.ResivedComments + Model.Statistics.ResivedReplies)
                    </div>
                </div>              
            </div>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    User info
                </div>
                <div class="panel-body">

                   
                    @if (!userInfo.IsNotPublic)
                    {
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                @Html.LabelFor(model => model.User.ApplicationUserInfo.FirstName)
                            </div>
                            <div class="col-md-8 col-xs-12">
                                @Html.DisplayFor(model => model.User.ApplicationUserInfo.FirstName)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                @Html.LabelFor(model => model.User.ApplicationUserInfo.LastName)
                            </div>
                            <div class="col-md-8 col-xs-12">
                                @Html.DisplayFor(model => model.User.ApplicationUserInfo.LastName)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                @Html.LabelFor(model => model.User.ApplicationUserInfo.Country)
                            </div>
                            <div class="col-md-8 col-xs-12">
                                @Html.DisplayFor(model => model.User.ApplicationUserInfo.Country)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-12">
                                @Html.LabelFor(model => model.User.ApplicationUserInfo.City)
                            </div>
                            <div class="col-md-8 col-xs-12">
                                @Html.DisplayFor(model => model.User.ApplicationUserInfo.City)
                            </div>
                        </div>
                    }

                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">@Html.LabelFor(model => model.User.ApplicationUserInfo.About) <span class="badge"></span></div>
                        <div class="panel-body">
                            @Html.DisplayFor(model => model.User.ApplicationUserInfo.About)
                        </div>
                    </div>
                </div>
            </div>



            @if (userImagesCount > 0)
            {
                <div class="row" style="overflow: hidden;">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Userpics <span class="badge">@userImagesCount</span></div>
                            <div class="panel-body ">
                                <div class="row row-scroll">

                                    @foreach (var i in Model.User.UserImages.OrderBy(img => img.ImageOrderId))
                                    {
                                        <div class=" div-scroll-userpic" style="text-align:center;">
                                            <img class=" userpic-size-md" src="@Url.Content("/Blog/GetImage?id=" + i.Id)">

                                        </div>
                                    }

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }
            

            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Categories <span class="badge">@Model.Statistics.Categories.Count()</span></div>
                        <div id="divCategories" class="panel-body">
                            @if (Model.Statistics.PostsCount > 0)
                            {
                                y = 0;
                                foreach (var category in Model.Statistics.Categories)
                                {
                                    @Html.Raw( y++ == 0? "" : ",")
                                    @Html.CategoryLink(new Category { Id = category.Id, Name = category.Name }, userPanelInfo) 
                                    @Html.Raw(" (" + category.Count + ")")
                                    

                                }

                            }
                            else
                            {
                                <p>No categories</p>
                            }
                        </div>                       
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Tags <span class="badge">@Model.Statistics.Tags.Count()</span></div>
                        <div id="divCategories" class="panel-body">
                            @if (Model.Statistics.PostsCount > 0)
                            {
                                y = 0;
                                foreach (var tag in Model.Statistics.Tags)
                                {
                                    @Html.Raw(y ++ == 0 ? "" : ", ")
                                    @Html.CategoryLink(new Category { Id = tag.Id, Name = tag.Name }, userPanelInfo)
                                    @Html.Raw(" (" + tag.Count + ")")
                                }

                            }
                            else
                            {
                                <p>No tags</p>
                            }
                        </div>


                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Friends <span class="badge">@friendsWith.Count()</span></div>
                        <div id="divFriendsWith" class="panel-body">
                            @{y = 0;}
                            @foreach (var f in friendsWith)
                            {    @Html.Raw(y++ == 0 ? "" : ", ")<a href="/User/GetProfile/@f">@f</a>
                            }
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Friend of <span class="badge">@friendsFor.Count()</span></div>
                        <div class="panel-body">
                            @{y = 0;}
                            @foreach (var f in friendsFor)
                            {    @Html.Raw(y++ == 0 ? "" : ", ")<a href="/User/GetProfile/@f">@f</a>


                            }

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Mutual friends <span class="badge">@mutualFriends.Count()</span></div>
                        <div class="panel-body">
                            @{y = 0;}
                            @foreach (var f in mutualFriends)
                            {    @Html.Raw(y++ == 0 ? "" : ", ")<a href="/User/GetProfile/@f">@f</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
}

@section RightSideContent{
@{userPanelInfo.FriendType |= (long)FriendType.UserPosts;}
       <div class="sidebar" >
           <div class="row">
               <div class="  col-xs-12 text-left">
                   <ol class="breadcrumb">
                       <li><a href="@Url.Action(" Index", "Home" )"><span class="glyphicon glyphicon-cog"></span></a></li>
                       <li class="active">Advertisement</li>
                   </ol>
               </div>
           </div>          
           @Html.Partial("_Ad", 4)
       </div>  
              
}

