﻿@model int
@using LJ.Models.User;
@using LJ.ViewModels.User;


@section Styles
{
    <link rel="stylesheet" href="/content/bootstrap-datetimepicker.min.css" />
}


@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
 
    

    Random rnd = new Random();
}




@section MainContent{
<div class="row">
    <div class="  col-xs-12 text-left">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
            <li class="active">Post top ratings</li>

        </ol>
    </div>
</div>

<div class="row post-info" style="margin-bottom:20px;">
    <div class="  col-xs-12 text-right post-user">
       
    </div>
    <div class="  col-xs-12 text-center title">
        <h4></h4>
    </div>
</div>


    <div class="row">
        <div class="  col-xs-6 col-md-4 col-sm-offset-4 text-left">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-scroll" style="margin-top:80px;">
        
        <div class="  col-xs-12 text-left">
            <div id="container" style=" min-width: 120px; margin: 0 auto"></div>
        </div>
    </div>

<div class="row row-scroll" style="margin-top:80px;">
   
    <div class="  col-xs-12 text-left"><a name="TopOrder"></a>
        <div id="container2" style=" min-width: 120px; margin: 0 auto"></div>
    </div>
</div>
}




@section RightSideContent{
    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="active">Advertisement</li>
            </ol>
        </div>
    </div>
    @Html.Partial("_Ad", 3)
}



@section Scripts {

    <!-- Scripts Level 1-->
    <!-- highcharts -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    

    <!-- datetimepicker  https://eonasdan.github.io/bootstrap-datetimepicker/Installing/ -->
    <script type="text/javascript" src="/scripts/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.min.js"></script>

    <script>
    $(function () {
        $('#datetimepicker1').datetimepicker({ defaultDate:new Date(),
            format: 'MMMM YYYY',
            maxDate: moment().endOf("month"),
           // minDate: new Date("@ViewBag.StartDateRange")
        });

        fnGetStatistics(0, 0);

        $("#datetimepicker1").on("dp.change", function (e) {
            fnGetStatistics(e.date.format('M'), e.date.format('YYYY'));
        });
    });


    //---------------------------------------
    function fnGetStatistics(month, year) {

        $.post("@Url.Action("GetPostRatingsChart", "User", new { id = Model })", { month: month, year: year }, function (data) {
                var postInfo = $(".post-info");
                var title = postInfo.find('h4').html("<a href='Blog/GetUserPost/'" + data.postid + ">" + data.title + "</a>");
                var postuser = postInfo.find('.post-user').html("post by <a href='/User/GetProfile/"
                    + data.username + "'> <span class=\"glyphicon glyphicon-user\"></span>" + data.username + "</a>");

                var statisticsDate = moment([parseInt(data.year), parseInt(data.month) -1 ]).endOf("month");
                var statisticsMonthName = statisticsDate.format('MMMM');

                $('#container').highcharts({

                    title: {
                        text: 'Post ratings  in ' + statisticsMonthName,
                    },
                    subtitle: {
                        text: 'average ratings for day'
                    },

                    xAxis: {
                        type: 'datetime',
                        title: {
                            text: 'Days in ' + statisticsMonthName
                        },
                        dateTimeLabelFormats: {
                            day: '%e'
                        }
                        // tickInterval: 3600 * 1000
                    },

                    yAxis: {
                        title: {
                            text: "Top ratings"
                        },
                        min: 0,
                    },

                    tooltip: {
                        crosshairs: true,
                        shared: true,
                        // valueSuffix: 'points'
                    },

                    legend: {
                    },

                    series: [{
                        name: 'Post rating',
                        data: data.userRatings,
                        zIndex: 1,
                        marker: {
                            fillColor: 'white',
                            lineWidth: 1,
                            lineColor: Highcharts.getOptions().colors[1]
                        }
                    }, {
                        name: 'Top ratings range',
                        data: data.topRatingRanges,
                        type: 'arearange',
                        lineWidth: 0,
                        linkedTo: ':previous',
                        color: Highcharts.getOptions().colors[0],
                        fillOpacity: 0.3,
                        zIndex: 0
                    }]
                });

                //===============================================






                $('#container2').highcharts({

                    title: {
                        text: 'Post positions in ' + statisticsMonthName,
                    },

                    

                    /*  tooltip: {
                          crosshairs: true,
                          shared: true,
                         // valueSuffix: '°C',
                          formatter: function () {
                              var that = this;
                              if (this.series.options.hasOwnProperty("ranges")) {
                                  var min, max;
                                  $.each(this.series.options.ranges, function (i, point) {
                                      if (point[0] == that.x) {
                                          min = point[1];
                                          max = point[2];
                                      }
                                  });
                                  return "min/max range: " + min + " - " + max;
                              }
                          }
                      },*/

                    xAxis: {
                        // tickInterval: 1,
                        type: 'datetime',
                        dateTimeLabelFormats: {
                            day: '%e'
                        },
                        title: {
                            text: 'Days in ' + statisticsMonthName
                        }
                    },

                    yAxis: {
                       // max: 0,

                        plotLines: [{
                            value: -data.lastOrder + 1,
                            color: 'gray',
                            dashStyle: 'shortdash',
                            width: 1,
                            /* label: {
                                 text: 'Last quarter minimum'
                             }*/

                        }],

                        labels: {
                            formatter: function () {
                                var value;
                                if (-this.value >= data.lastOrder + 1) value = "";
                                else if (this.value > 0) value = "";
                                else value = -(this.value - 1)
                                return value;
                            }
                        },
                        title: {
                            text: "Top positions"
                        },


                    },

                    tooltip: {
                        crosshairs: true,
                        shared: true,
                        formatter: function () {
                            var index = 0;

                            // if x int => var point = this.points[1].series.data[this.x -1 ];
                            //for x datatime
                            for (var i = 0; i < this.points[0].series.data.length; i++) {
                                var item = this.points[0].series.data[i];
                                if (item.x == this.x && item.y == this.y)
                                { index = i; break; }
                            }
                            var point = this.points[1].series.data[index];

                            var topRange = (-point.high) == data.lastOrder ? "<br/>No top selection" :
                                "<br/>Top positions [" + (-point.low + 1) + " - " + (-point.high + 1) + "]<br/>";

                            userValue = -this.y + 1;
                            if (userValue == data.lastOrder + 1) userValue = "no<br/>";

                            var day = Highcharts.dateFormat('%A, %b %e, %H:%M:%S', this.x);
                            var s = day + "<br/>Post position: " + userValue +
                                       topRange;
                            return s;
                        },
                    },

                    legend: {
                    },

                    series: [{
                        name: 'Post position',

                        data: data.userTopOrders,
                        zIndex: 1,
                        marker: {
                            fillColor: 'white',
                            lineWidth: 1,
                            lineColor: Highcharts.getOptions().colors[1]
                        }
                    }, {
                        name: 'Positions range',
                        data: data.topOrderRanges,
                        type: 'arearange',
                        lineWidth: 0,
                        linkedTo: ':previous',
                        color: Highcharts.getOptions().colors[0],
                        fillOpacity: 0.3,
                        zIndex: 0
                    }]
                });
                   //--------------------------
               });
    }
        


    </script>
}




