﻿@model DateTime
@using LJ.Models.User;
@using LJ.ViewModels.User;


@section Styles
{
    <link rel="stylesheet" href="/content/bootstrap-datetimepicker.min.css" />
}


@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    Random rnd = new Random();
}



@section MainContent{
    
    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="active">Statistics by posts ratings </li>

            </ol>
        </div>
    </div>


    <div class="row">
        <div class="  col-xs-6 col-md-4 col-sm-offset-4 text-left">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>



    <div class="row row-scroll" style="margin-top:80px;">
        <div class="  col-xs-12 text-center">
        </div>
        <div class="  col-xs-12 text-left">
            <div id="container" style=" min-width: 120px; margin: 0 auto"></div>
        </div>
    </div>


<div class="row row-scroll" style="margin-top:80px;">
    <div class="  col-xs-12 text-center">
    </div>
    <div class="  col-xs-12 text-left">
        <div id="container2" style=" min-width: 120px; margin: 0 auto"></div>
    </div>
</div>


}




@section RightSideContent{
    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="active">Advertisement</li>
            </ol>
        </div>
    </div>
    @Html.Partial("_Ad", 3)
}



@section Scripts {

    <!-- Scripts Level 1-->
    <!-- highcharts -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    

    <!-- datetimepicker  https://eonasdan.github.io/bootstrap-datetimepicker/Installing/ -->
    <script type="text/javascript" src="/scripts/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.min.js"></script>

    <script>
        $(function () {
            $('#datetimepicker1').datetimepicker({ defaultDate:new Date(),
                format: 'MMMM YYYY',
                maxDate: moment().endOf("month"),
               // minDate: new Date("@Model")
            });

            fnGetStatistics(0, 0);

            $("#datetimepicker1").on("dp.change", function (e) {
                fnGetStatistics(e.date.format('M'), e.date.format('YYYY'));
            });
        });


            //---------------------------------------
            function fnGetStatistics( month, year) {
                $.post("@Url.Action("GetAllPostsRatingsMonthChart", "User")", { month: month, year: year }, function (data) {


                var statisticsDate = moment([parseInt(data.year), parseInt(data.month) - 1]).endOf("month");
                var statisticsMonthName = statisticsDate.format('MMMM');

               

                $('#container').highcharts({

                    title: {
                        text: 'Top ratings ranges for posts in ' + statisticsMonthName,
                    },
                    subtitle: {
                        text: 'Top ratings calculated based on posts comments, likes, dislakes, visits every  @LJ.Controllers.VisitorController.JOB_INTERVAL_RATING hours.'
                    },

                    xAxis: {
                        type: 'datetime',
                        title: {
                            text: 'Days in ' + statisticsMonthName
                        },
                        dateTimeLabelFormats: {
                            day: '%e'
                        }
                        // tickInterval: 3600 * 1000
                    },

                    yAxis: {
                        title: {
                            text: "Post ratings range"
                        },
                        min: 0,
                    },

                    tooltip: {
                        crosshairs: true,
                        shared: true,
                        // valueSuffix: 'points'
                    },

                    legend: {
                    },

                    series: [{
                        name: 'Top ratings ranges',
                        data: data.topRatingRanges,
                        type: 'arearange',
                        lineWidth: 0,
                        linkedTo: ':previous',
                        color: Highcharts.getOptions().colors[7],
                        fillOpacity: 0.4,
                        zIndex: 0
                    }]
                });

                ////---------------------------------------
                $('#container2').highcharts({

                    title: {
                        text: 'Posts top positions  in ' + statisticsMonthName,
                    },

                    subtitle: {
                        text: 'Top   orders for posts calculated based on posts ratings every @LJ.Controllers.VisitorController.JOB_INTERVAL_RATING hours. Posts with the same rating have the same position number.'
                    },



                    xAxis: {
                        // tickInterval: 1,
                        type: 'datetime',
                        dateTimeLabelFormats: {
                            day: '%e'
                        },
                        title: {
                            text: 'Days in ' + statisticsMonthName
                        }
                    },

                    yAxis: {
                        max: 0,

                        plotLines: [{
                            value: -data.lastOrder + 1,
                            color: 'gray',
                            dashStyle: 'shortdash',
                            width: 1,

                        }],

                        labels: {
                            formatter: function () {
                                var value;
                                if (-this.value >= data.lastOrder + 1) value = "";
                                else if (this.value > 0) value = "";
                                else value = -(this.value - 1)
                                return value;
                            }
                        },
                        title: {
                            text: "Posts positions range"
                        },


                    },

                    tooltip: {
                        crosshairs: true,
                        shared: true,
                        formatter: function () {
                            var index = 0;

                            for (var i = 0; i < this.points[0].series.data.length; i++) {
                                var item = this.points[0].series.data[i];
                                if (item.x == this.x && item.y == this.y)
                                { index = i; break; }
                            }
                            var point = this.points[0].series.data[index];

                            var topRange = (-point.high) == data.lastOrder ? "No top selection" :
                                "Posts places range [" + (-point.low + 1) + " - " + (-point.high + 1) + "]";

                            var day = Highcharts.dateFormat('%A, %b %e, %H:%M:%S', this.x);
                            var s = day + "<br/>" + topRange;
                            return s;
                        },
                    },

                    legend: {
                    },

                    series: [{
                        name: 'Top places range for posts',
                        data: data.topOrderRanges,
                        type: 'arearange',
                        lineWidth: 0,
                        linkedTo: ':previous',
                        color: Highcharts.getOptions().colors[7],
                        fillOpacity: 0.4,
                        zIndex: 0
                    }]
                });
                //--------------------------
            });
            }
        


    </script>
}




