﻿@model StatisticsByFriendsViewModel
@using LJ.Models.User;
@using LJ.ViewModels.User;


@section Styles
{
    <link rel="stylesheet" href="/content/bootstrap-datetimepicker.min.css" />
}

@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    //var friendArxivs = Model..OrderBy(p => p.Date);
    var user = Model.User;
    int defaultUserImageId = (int)(user.DefaultUserImageId == null ? 1 : user.DefaultUserImageId);
    var friendsWithArxiv = Model.User.FriendsWithArxiv
          .GroupBy(p => p.FriendId, p => p)
          .Select(k => new
          {
              Friend = k.FirstOrDefault().Friend,
              Date = k.Max(h => h.Date),
              FriendWithArxiv = k.OrderByDescending(s => s.Date)
          })
          .OrderByDescending(h => h.Date)
          .ToList();
    Random rnd = new Random();
}

@section CurrentPageInfo
{
    @user.UserName, you are viewing your journal
}


@section MainContent{
    @Html.Partial("_UserPanel",
           new UserPanelInfo
           {
               VisitorUserName = user.UserName,
               UserName = user.UserName,
               FriendType = (int)FriendType.MySelf,
               DefaultUserImageId = defaultUserImageId,
               FriendGroups = user.FriendGroups
           })


    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> @user.UserName</a></li>
                <li class="active">Statistics by blog ratings </li>

            </ol>
        </div>
    </div>


    <div class="row">
        <div class="  col-xs-6 col-md-4 col-sm-offset-4 text-left">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>


    <div class="row row-scroll" style="margin-top:80px;">
        <div class="  col-xs-12 text-center">
        </div>
        <div class="  col-xs-12 text-left">
            <div id="container" style=" min-width: 120px; margin: 0 auto"></div>
        </div>
    </div>
}




@section RightSideContent{
    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="active">Advertisement</li>
            </ol>
        </div>
    </div>
    @Html.Partial("_Ad", 2)
}



@section Scripts {

    <!-- Scripts Level 1-->
    <!-- highcharts -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <!-- datetimepicker  https://eonasdan.github.io/bootstrap-datetimepicker/Installing/ -->
    <script type="text/javascript" src="/scripts/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.min.js"></script>

    <script>
        $(function () {
            $('#datetimepicker1').datetimepicker({ defaultDate:new Date(),
                format: 'MMMM YYYY',
                maxDate: moment().endOf("month")
            });

            $.post("@Url.Action("GetUsersRatingsChart", "User", new { username = Model.User.UserName })", function (data) {

              
                var statisticsDate = moment([parseInt(data.year), parseInt(data.month) -1 ]).endOf("month");
                var statisticsMonthName = statisticsDate.format('MMMM');


                data.ratings.forEach(
                             function addNumber(value, index, arr) { if (value == 0) arr[index] = null; }
                  );

                data.topratings.forEach(
                            function addNumber(value, index, arr) { if (value == 0) arr[index] = null; }
                 );

                $('#container').highcharts({
                    chart: {
                        type: 'area'
                    },
                    title: {
                        text: 'Blog ratings in ' + statisticsMonthName,
                    },
                    subtitle: {
                        text: 'average ratings for day'
                    },
                    xAxis: {
                        categories: data.days,
                        tickmarkPlacement: 'on',
                        title: {
                            text: 'Days in '+ statisticsMonthName
                        }
                    },
                    yAxis: {
                        title: {
                            text: 'Rating points'
                        },
                        labels: {
                            formatter: function () {
                                return this.value  ;
                            }
                        }
                    },
                    tooltip: {
                        split: true,
                        valueSuffix: ' points'
                    },
                    plotOptions: {
                        area: {
                          //  stacking: 'normal',
                            lineColor: '#666666',
                            lineWidth: 1,
                            marker: {
                                lineWidth: 1,
                                lineColor: '#666666'
                            }
                        }
                    },
                    series: [{
                        name: 'Top rating',
                        tooltip: {
                            formatter: function() {
                                return 'The value for ' + this.series.name;
                            }
                        },
                        data: data.topratings
                    
                    }, {
                        name: 'Your rating',
                        order: data.orders,
                        data: data.ratings
                    }]
                });
            });

        });
     //--------------------------------------
           

    </script>
}




