﻿@model StatisticsByFriendsViewModel
@using LJ.Models.User;
@using LJ.ViewModels.User;


@section Styles
{
    <link rel="stylesheet" href="/content/bootstrap-datetimepicker.min.css" />
}




@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    //var friendArxivs = Model..OrderBy(p => p.Date);
    var user = Model.User;
    int defaultUserImageId = (int)(user.DefaultUserImageId == null ? 1 : user.DefaultUserImageId);

    var friendsWithArxiv = Model.User.FriendsWithArxiv
          .GroupBy(p => p.FriendId, p => p)
          .Select(k => new
          {
              Friend = k.FirstOrDefault().Friend,
              Date = k.Max(h => h.Date),
              FriendWithArxiv = k.OrderByDescending(s => s.Date)
          })
          .OrderByDescending(h => h.Date)
          .ToList();
    Random rnd = new Random();
}

@section CurrentPageInfo
{
    @user.UserName, you are viewing your journal
}


@section MainContent{
    @Html.Partial("_UserPanel",
           new UserPanelInfo
           {
               VisitorUserName = user.UserName,
               UserName = user.UserName,
               FriendType = (int)FriendType.MySelf,
               DefaultUserImageId = defaultUserImageId,
               FriendGroups = user.FriendGroups

           })

    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> @user.UserName</a></li>
                <li class="active">Statistics by Blog Visitors (under construction)</li>

            </ol>
        </div>
    </div>

   @Html.Action("GetVisitedPagesForUser", "Visitor", new { username = user.UserName })
}




@section RightSideContent{
    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li class="active">Advertisement</li>
            </ol>
        </div>
    </div>
    @Html.Partial("_Ad", 5)
}

@section Scripts {
 
}




