﻿@model StatisticsByFriendsViewModel
@using LJ.Models.User;
@using LJ.ViewModels.User;



@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    //var friendArxivs = Model..OrderBy(p => p.Date);
    var user = Model.User;

    int defaultUserImageId = (int)(user.DefaultUserImageId == null ? 1 : user.DefaultUserImageId);

    var friendsWithArxiv = Model.User.FriendsWithArxiv
          .GroupBy(p => p.FriendId, p => p)
          .Select(k => new
          {
              Friend = k.FirstOrDefault().Friend,
              Date = k.Max(h => h.Date),
              FriendWithArxiv = k.OrderByDescending(s => s.Date)
          })
          .OrderByDescending(h => h.Date)
          .ToList();
    var friendsOfArxiv = Model.FriendsOfArxiv
   .GroupBy(p => p.UserId, p => p)
   .Select(k => new
   {
       User = k.FirstOrDefault().User,
       Date = k.Max(h => h.Date),
       FriendOfArxiv = k.OrderByDescending(s => s.Date)
   })
   .ToList();

   var friendsLeftJoin =
   (from f1 in friendsWithArxiv
   join f2 in friendsOfArxiv on f1.Friend.Id equals f2.User.Id into gr
   select new { FriendsWithArxiv = f1, FriendsOfArxiv = gr.FirstOrDefault() })
   .ToList();
    
   var friendsOuterRight =
       (from f1 in friendsOfArxiv
        join f2 in friendsLeftJoin on f1.User.Id equals f2.FriendsWithArxiv.Friend.Id into gr
        where gr.Count() == 0
        select new { FriendsWithArxiv = gr.Select( p => p.FriendsWithArxiv).FirstOrDefault(), FriendsOfArxiv = f1 })
   .ToList();
   var friendsOuterJoin = friendsLeftJoin
       .Union(friendsOuterRight)
       .OrderBy(h => h.FriendsWithArxiv == null ? h.FriendsOfArxiv.User.UserName : h.FriendsWithArxiv.Friend.UserName);            

    Random rnd = new Random();
}

@section CurrentPageInfo
{
    @user.UserName, you are viewing your journal
}


@section MainContent{
    @Html.Partial("_UserPanel",
           new UserPanelInfo
           {
               VisitorUserName = user.UserName,
               UserName = user.UserName,
               FriendType = (int)FriendType.MySelf,
               DefaultUserImageId = defaultUserImageId,
               FriendGroups = user.FriendGroups

           })

    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> @user.UserName</a></li>
                <li class="active">Manage 
                    <abbr title="Friends list is used to show entries on your Friends Line and restrict access to your entries.">
                        Friends list</abbr></li>
            </ol>
        </div>
    </div>

<div class="row visible-md" style="margin-top:15px;">
    <div class="col-md-5 col-xs-6 text-center"><b><span>User</span></b></div>   
    <div class=" col-xs-12 col-md-3  text-center"><b><span>Your actions</span></b></div>
    <div class=" col-xs-12 col-md-3  text-center"><b><span>User actions</span></b></div>
</div>
<hr class="visible-md" />
@foreach (var ff in friendsOuterJoin)
{
    ApplicationUser mergeUser = ff.FriendsWithArxiv == null ?
        ff.FriendsOfArxiv.User : ff.FriendsWithArxiv.Friend;
    var isNotFriendWith = ff.FriendsWithArxiv == null || ff.FriendsWithArxiv.FriendWithArxiv.FirstOrDefault().Action == (short)FriendAction.Deleted;
    var isNotFriendOf = ff.FriendsOfArxiv == null || ff.FriendsOfArxiv.FriendOfArxiv.FirstOrDefault().Action == (short)FriendAction.Deleted;
    string msgFriendStatus;
    string msgAction;
    bool isAddAction;
    string classPush = ff.FriendsWithArxiv == null? "col-md-push-3" :"";
    if (!isNotFriendWith && !isNotFriendOf)
    {
        msgFriendStatus = mergeUser.UserName + " is your mutial friend";
        msgAction = "Delete " + mergeUser.UserName + " from your friends list";
        isAddAction = false;
    }
    else if (!isNotFriendWith && isNotFriendOf)
    {
        msgFriendStatus = mergeUser.UserName + " is your friend list";
        msgAction = "Delete " + mergeUser.UserName + " from your friends list";
        isAddAction = false;
    }
    else if (isNotFriendWith && !isNotFriendOf)
    {
        msgFriendStatus = mergeUser.UserName + " added you in his/her friends list";
        msgAction = "Add " + mergeUser.UserName + " to your friends list";
        isAddAction = true;
    }
    else
    {
        msgFriendStatus = "No connection with " + mergeUser.UserName ;
        msgAction = "Add " + mergeUser.UserName + " to your friends list";
        isAddAction = true;
    }
    
        <div class="row" style="margin-top:15px;">

            <div class="col-md-2 col-xs-6 text-right">
                <img src="@Url.Action("GetImage", "Blog", new { id = mergeUser.DefaultUserImageId })" class="userpic-size-sm" />
            </div>

            <div class="col-md-3 col-xs-6 text-left">
                <a href="@Url.Action("getprofile", "user", new { id = mergeUser.UserName })">
                    <span class="glyphicon glyphicon-user"></span>  @mergeUser.UserName
                </a>
                @if (isAddAction)
            {
                    <a class="btn btn-xs  btn-default comment-menu-items link-add-friend" href="/User/AddFriend?username=@mergeUser.UserName" title="@msgAction">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>
            }
            else
            {
                    <a class="btn btn-xs  btn-default comment-menu-items link-delete-friend" href="/User/DeleteFriend?username=@mergeUser.UserName" title="@msgAction">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </a>
            }<br />
                <span title="@msgFriendStatus">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"
                          style="@Html.Raw(isNotFriendWith ? "color:lightgray;" : "color:#0d47a1;") font-size:18px;"></span>
                    <span aria-hidden="true" class="glyphicon glyphicon-arrow-right"
                          style="@Html.Raw(isNotFriendOf ? "color:lightgray;" : "color:green;") font-size:18px;"></span>
                </span>
            </div>

            @if ( ff.FriendsWithArxiv!=null)
        {

                <div class=" col-xs-12 col-md-3  text-left">
                    <div class=" row">
                        <div class=" col-xs-12 visible-xs text-left" style="margin-top:16px;">
                            <span style="color:#0d47a1;">Your action</span>
                        </div>
                        @foreach (var f in ff.FriendsWithArxiv.FriendWithArxiv)
                {
                            <div class=" col-xs-12 text-left" style="margin-bottom:10px;">

                                @if (f.Action == (short)FriendAction.Added)
                        {
                                    <span class="glyphicon glyphicon-plus" style="color:#0d47a1;"></span>
                        }
                        else
                        {
                                    <span class="glyphicon glyphicon-minus" style="color:gray;"></span>
                        }
                                @Html.Raw("&nbsp;") @f.Date.ToConfigLocalTime()
                            </div>
                }

                    </div>
                </div>
                }

            @if (ff.FriendsOfArxiv != null)
                {

                <div class="col-xs-12 col-md-3 @classPush text -left">
                    <div class=" row">
                        <div class=" col-xs-12   text-left visible-xs " style="margin-top:16px;">
                            <span style="color:green;">@mergeUser.UserName action</span>
                        </div>
                        @foreach (var f in ff.FriendsOfArxiv.FriendOfArxiv)
                    {
                            <div class=" col-xs-12 text-left" style="margin-bottom:10px;">

                                @if (f.Action == (short)FriendAction.Added)
                            {
                                    <span class="glyphicon glyphicon-plus" style="color:green;"></span>
                            }
                            else
                            {
                                    <span class="glyphicon glyphicon-minus" style="color:gray;"></span>
                            }
                                @Html.Raw("&nbsp;") @f.Date.ToConfigLocalTime()
                            </div>
                    }

                    </div>
                </div>
        }
        </div>
        <hr />
   }
}


        @section  FooterContent{

            Paging under construction

        }

        @section RightSideContent{
            <div class="row">
                <div class="  col-xs-12 text-left">
                    <ol class="breadcrumb">
                        <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
                        <li class="active">Advertisement</li>
                    </ol>
                </div>
            </div>
            @Html.Partial("_Ad", 3)
        }

        @section Scripts {

            <!-- Scripts Level 1-->
            <!-- Custom LJ Add-remove Friends -->
            <script type="text/javascript" src="/scripts/userlj/managefriendslist.js"></script>
        }


