﻿@model ApplicationUser
@using LJ.Models.User;
@using LJ.Models.Blog;
@using LJ.ViewModels.User;
@using Microsoft.AspNet.Identity;

@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}



@{
    var user = Model;
    int i = 0;

    var appUserName = User.Identity.GetUserName();

    var friendsFor = user.FriendsFor.Select(f => f.UserName).OrderBy(a => a);
    var friendsWith = user.FriendsWith.Select(f => f.UserName).OrderBy(a => a);
    var mutualFriends = user.FriendsWith
                        .Join(user.FriendsFor, f1 => f1.UserName, f2 => f2.UserName, (f1, f2) => f1.UserName)
                        .OrderBy(f => f);

    var userInfo = user.ApplicationUserInfo;
    var friendsGroups = user.FriendGroups;
    string msgForUserType = "";
    int friendType = 0;


    if (appUserName == "")
    {
        friendType = (int)FriendType.Anonymous;
        msgForUserType = "";
    }
    else
    {
        if (appUserName == user.UserName)
        {
            friendType = (int)FriendType.MySelf;
        }
        else
        {
            friendType = (friendsFor.Any(u => u == appUserName) ? (int)FriendType.Friend : 0) +
                         (friendsWith.Any(u => u == appUserName) ? (int)FriendType.FriendOf : 0);
            if (friendType == 0) { friendType = (int)FriendType.NoConnection; }

        }

        if (!ApplicationUser.MessageForFriendType.TryGetValue(friendType, out msgForUserType))
        {
            msgForUserType = "";
        }
    }


    var userPanelInfo = new UserPanelInfo()
   {
       UserName = user.UserName,
       VisitorUserName = appUserName,
       DefaultUserImageId = user.DefaultUserImageId ?? 1,
       FriendType = friendType,
       MsgForUserType = msgForUserType,
       FriendGroups = user.FriendGroups
   };

}

@section CurrentPageInfo{
    <span class="glyphicon glyphicon-user"></span> @user.UserName @msgForUserType
}



@section MainContent
{

    @Html.Partial("_UserPanel", userPanelInfo)

    <div class="row">
        <div class="  col-xs-12 text-left">
            <ol class="breadcrumb">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> @user.UserName</a></li>
                <li class="active">Manage <abbr title="After adding some or all of the users on your Friends list to  Friends groups, you can use these groups to restrict who can see an entry, to filter your Friends Line">
                        Friends groups</abbr> 
                </li>
            </ol>
        </div>
    </div>


<div class="row" style="margin-top:60px;">

    <div class="col-md-12 text-right">
        <button type="submit" class="btn  btn-link " id="btn-new-group" title="Create new group">Add new group</button>
    </div>

    <div id="no-group" class="col-md-12 text-center" @Html.Raw(friendsGroups.Count() == 0 ? "" :" style='display: none;'")>
        <h3><b>No groups</b></h3>
    </div>
</div>

    

    @if (friendsGroups.Count() > 0)
    {
        foreach (var gr in friendsGroups)
        {
            <div class="panel panel-default" style="margin-bottom:60px;">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-7">
                            "@Html.Label(gr.Name)" -  group  of <span class="badge">@gr.Friends.Count()</span>
                        </div>
                        <div class="col-md-5">
                            <ul class="nav nav-pills pull-right">
                                <li class="active"><a data-toggle="pill" class="a-display-friend-group" href="#DisplayGroup-@gr.Id">Display</a></li>
                                <li><a data-toggle="pill" class="a-edit-friend-group" href="#EditGroup-@gr.Id">Edit</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="tab-content">
                        <div id="DisplayGroup-@gr.Id" class="tab-pane fade in active">
                            <div class="row">


                                @foreach (var g in gr.Friends.OrderBy(g => g.UserName))
                                {
                                    <div class="col-xs-6 col-sm-4 col-md-2">
                                        <a href="/User/GetProfile/@g.UserName">@g.UserName</a>
                                    </div>
                                }
                            </div>
                        </div>

                        <div id="EditGroup-@gr.Id" class="tab-pane fade ">
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}



@section RightSideContent{


    <div class="sidebar" style="margin-top:60px">

        <div class="row">
            <div class="  col-xs-12 text-left">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home" )"><span class="glyphicon glyphicon-cog"></span></a></li>
                    <li class="active">Advertisement</li>

                </ol>
            </div>
        </div>

        @Html.Partial("_Ad", 2)

    </div>

}


@section Scripts {
    <!--Scripts  level 1 -->
    <!-- jquery ui library -->
    <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <!-- jquery template library -->
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>

    <script>
    $(document).ready(function () {

        //------------------------------------------------
        $(".row").on("click", ".moveallfrom", function (event) {
            event.preventDefault();
            var parent = $(this).closest('.row');
            var what = parent.find(".select-from  option");
            var where = parent.find(".select-to");
            what.detach().appendTo(where);
            return false;
        });

        $(".row").on("click", ".movefrom", function (event) {
            event.preventDefault();
            var parent = $(this).closest('.row');
            var what = parent.find(".select-from  option:selected");
            var where = parent.find(".select-to");
            what.detach().appendTo(where);
            return false;
        });


        $(".row").on("click", ".moveallto", function (event) {
            event.preventDefault();
            var parent = $(this).closest('.row');
            var what = parent.find(".select-to  option");
            var where = parent.find(".select-from");
            what.detach().appendTo(where);
            return false;
        });

        $(".row").on("click", ".moveto", function (event) {
            event.preventDefault();
            var parent = $(this).closest('.row');
            var what = parent.find(".select-to option:selected");
            var where = parent.find(".select-from");
            what.detach().appendTo(where);
            return false;
        });


        //-----------------------------------------
        $(".container").on("click", ".btn-save-group", function (event) {
            event.preventDefault();
            var form = $(this).closest('form');
            var groupname = form.find("#groupname").val().trim();
           
            if (groupname.length == 0 || groupname.length > 50)
            {
                alert("Group name can't be empty or more than 50 symbols");
                return;
            }
          
            var options = form.find('.select-to option');
            options.each(function (index, el) { $(this).attr("selected", "selected"); })
            form.submit();

        });


        //------------------------------------------------      
        $(".container").on("click", ".btn-cancel", function (event) {
            event.preventDefault();
            var $this = $(this);

            if ($this.closest('form').find("#groupid").val() == "0") //is new
            {
                $this.closest('.panel').remove();
                $("#btn-new-group").removeClass("disabled");
            }
            else
            {
               var target = $this.closest('.tab-pane');
               target.empty();
               target.closest(".panel").find('.nav-pills a').eq(0).click();
            }

            if ($(".panel-body").length == 0) 
            {               
                $("#no-group").show();
            }

            return false;
        });

        //-----------------------------------------
        $(".container").on("click", ".btn-delete-group", function (event) {
            event.preventDefault();

            var $this = $(this);
            var groupid = $this.closest('.row').find('#groupid').val();

            $.post("@Url.Action("DeleteGroup", "User", new { username = Model.UserName })",
                    { groupid: groupid }, function (data) {
                        if (data.id > 0) {
                            $this.closest(".panel").remove();

                            if ($(".panel-body").length == 0)
                            {
                                $("#no-group").show();
                               
                            }
                        }
                        else if (data.id < 0)
                        {
                            alert("Not able to delete this group because it assigned to " +(-data.id) + " posts");
                        }
                        else
                        {
                            alert("Not able to delete this group because it doesn't exist.");
                        }

                    }).fail(function (xhr, textStatus, errorThrown) {
                        alert("Error  " + xhr.responseText);
                    });

             });

            //-----------------------------------------
            $(".a-edit-friend-group").click(function () {

                var target = $($(this).attr("href"));
                groupid = $(this).attr("href").split('-')[1];
                $.post("@Url.Action("GetGroupForListBoxes", "User", new { username = Model.UserName })",
                { groupid: groupid }, function (data) {
                    var newControl = $("#tmpFriendGroup").tmpl(data);
                    target.append(newControl);

                }).fail(function (xhr, textStatus, errorThrown) {
                    alert("error<br/>" + xhr.responseText);
                });

        });

        //---------------------------------------------
        $(".a-display-friend-group").click(function () {
            var target = $($(this).attr("href").replace("Display", "Edit"));
            target.empty();
        });

        //------------------------------------------------
        $(".container").on("click", ".sort-up", function (event) {
            event.preventDefault();

            var parent = $(this).closest('.col-xs-12');
            var options = parent.find('option');
            var listbox = options.parent();

            options.detach().sort(function (a, b) {
                var at = $(a).text();
                var bt = $(b).text();
                return (at > bt) ? 1 : ((at < bt) ? -1 : 0);
            });
            options.appendTo(listbox);
        });
        //-----------------------------------------------------
        $(".container").on("click", ".sort-down", function (event) {
            event.preventDefault();

            var parent = $(this).closest('.col-xs-12');
            var options = parent.find('option');
            var listbox = options.parent();

            options.detach().sort(function (a, b) {
                var bt = $(a).text();
                var at = $(b).text();
                return (at > bt) ? 1 : ((at < bt) ? -1 : 0);
            });
            options.appendTo(listbox);
        });

        //---------------------------------------------
        $("#get-friends-data").click(function () {
            var target = $($(this).attr("href"));
            $.post("@Url.Action("GetFriendsForListBoxes", "User", new { username = Model.UserName })", function (data) {
                var newControl = $("#tmpFriendGroup").tmpl(data);
                target.append(newControl);

            }).fail(function (xhr, textStatus, errorThrown) {
                alert("error<br/>" + xhr.responseText);
            });
        });
        //--------------------------------------------
        $("#btn-new-group").click(function () {
            var btn = $(this);
            var target = ($(this).closest('.row'));
            $.post("@Url.Action("GetNewFriendsGroupForListBoxes", "User", new { username = Model.UserName})", function (data) {
                var newControl = $("#tmpNewFriendGroup").tmpl(data);
                target.after(newControl);
                btn.addClass("disabled");
                
                    $("#no-group").hide();
                

            }).fail(function (xhr, textStatus, errorThrown) {
                alert("error<br/>" + xhr.responseText);
            });
        });

        //--------------------------------------------
    });
</script>





    <script type="text/html" id="tmpFriendGroup">
        <form action="@Url.Action("SaveFriendsOrGroup", "User")">
        <div class=" row">
            <div class="col-xs-12 col-md-6 text-center">

                <div class="input-group">
                    <input type="text" class="form-control" readonly="readonly" value="Friends">
                    <span class="input-group-btn">
                        <button type="button" class="btn sort-up btn-default" title="Ascending sort">
                            <i class="glyphicon glyphicon-sort-by-alphabet"></i>
                        </button>
                    </span>
                    <span class="input-group-btn">
                        <button type="button" class="btn sort-down btn-default" title="Descending sort">
                            <i class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                        </button>
                    </span>
                    <span class="input-group-btn">
                        <button type="button" class="btn moveallfrom btn-default" title="Move all">
                            <i class="glyphicon glyphicon-forward"></i>

                        </button>
                    </span>
                    <span class="input-group-btn">
                        <button type="button" class="btn movefrom btn-default" title="Move selected">
                            <i class="glyphicon glyphicon-triangle-right"></i>
                        </button>
                    </span>
                </div>
                <select multiple="multiple" size="10" class="form-control select-from">
                    {{each Friends}}
                    <option value="${UserName}">${UserName}</option>
                    {{/each}}
                </select>
            </div>



            <div class="col-xs-12 col-md-6 text-center">

                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn moveto btn-default" title="Move selected">
                            <i class="glyphicon glyphicon-triangle-left"></i>
                        </button>
                    </span>
                    <span class="input-group-btn">
                        <button type="button" class="btn moveallto btn-default" title="Move all">
                            <i class="glyphicon glyphicon-backward"></i>
                        </button>
                    </span>
                    <span class="input-group-btn">
                        <button type="button" class="btn sort-up btn-default" title="Ascending sort">
                            <i class="glyphicon glyphicon-sort-by-alphabet"></i>
                        </button>
                    </span>
                    <span class="input-group-btn">
                        <button type="button" class="btn sort-down btn-default" title="Descending sort">
                            <i class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                        </button>
                    </span>

                    <input {{if GroupId ==-1}} readonly="readonly" {{/if}} type="text" class="form-control" id="groupname" value="${GroupName}" name="name" placeholder="Group name">
                </div>
                <select multiple="multiple" size="10" class="form-control select-to" name="names">
                    {{each GroupFriends}}
                    <option value="${UserName}">${UserName}</option>
                    {{/each}}
                </select>

            </div>
            </div>

            <div class="row">
                <div class="col-xs-12 text-left" style="margin:14px 30px 6px 0px;">
                    <button  type="submit" class="btn  btn-primary btn-save-group" title="Save {{if GroupId ==-1}} friends{{else}} group{{/if}}">Save</button>
                    {{if GroupId != 0}}<button type="submit" class="btn  btn-default btn-delete-group" title="Delete group">Delete</button>{{/if}}
                    <button type="submit" class="btn  btn-default btn-s btn-cancel" title="Cancel changes">Cancel</button>
                    @Html.Hidden("groupid", "${GroupId}") @Html.Hidden("username", Model.UserName)
                </div>
            </div>
        </form>
</script>



 <script type="text/html" id="tmpNewFriendGroup">
     <div class="panel panel-default" style="margin-bottom:60px;">
         <div class="panel-heading"><label>New custom group</label></div>
         <div class="panel-body">
             {{tmpl($data) "#tmpFriendGroup"}}
         </div>
     </div>
 </script>


}
