﻿
html{height: 100%;}



body {
    padding-top: 0px;
    padding-bottom: 0px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right:5px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


/*body
{ font-family: "lucida sans", arial, sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: .78em;
  background: #090708 !important;
  color: #5D5D5D; }*/



p
{ margin: 0px;
  padding: 0px 0px 16px 0px;
  line-height: 1.7em; }

h1, h2, h3, h4, h5, h6 
{ font: normal 179% 'century gothic', arial, sans-serif;
  color: #43423F;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;}

h2
{ font: normal 170% 'century gothic', arial, sans-serif;
  color: #0AB6F6;}

h3
{ font: normal 125% 'century gothic', arial, sans-serif;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% arial, sans-serif;
  color: #0AB6F6;}

h5, h6
{ font: italic 95% arial, sans-serif;
  color: #888;}

h6
{ color: #362C20;}

a, a:hover
{ border-bottom: 1px dotted;
  color: #635B53;
  text-decoration: none;}

a:hover
{ border-bottom: 1px solid;
  color: #00C5EE;}

img
{ border: 0px; 
  margin: 0px; 
  padding: 0px;}

a
{ outline: none;}

form
{ padding: 0; 
  margin: 0;}

.left
{ float: left;
  margin-right: 10px;}

.right
{ float: right; 
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 0 auto;}

blockquote
{ margin: 20px 0px 20px 0px; 
  padding: 10px 20px 0px 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0px 18px 16px;
  padding: 0px;}

ul li
{ list-style-type: square;
  margin: 0px 0px 6px 0px; 
  padding: 0px;}

ol
{ margin: 8px 0px 0px 24px;
  padding: 0px;}

ol li
{ margin: 0px 0px 11px 0px; 
  padding: 0px;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#main
{ padding-bottom: 40px;}

#header
{ background: transparent url(images/logo.jpg) no-repeat;}

#logo
{ width: 860px;
  position: relative;
  height: 200px;}

#logo #logo_text 
{ position: absolute; 
  top: 47px;
  left: 0;}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #FFF;
  text-decoration: none;
  border: 0;}

#logo_text h1 a .logo_colour
{ color: #FC9C04;}

#logo_text a:hover .logo_colour
{ color: #FFF;}

#logo_text h2
{ font-size: 120%;
  padding: 4px 0 0 0;
  color: #fff;}

#menubar
{ /* width: 870px;*/
  height: 46px;
  padding-top: 4px;
  padding-left: 4px;} 

ul#menu
{ float: right;
  margin: 0px;}

ul#menu li
{ float: left;
  margin: 5px 0 0 0;
  padding: 0 0 0 0px;
  list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font-family: sans-serif;
  font-size: 120%;
  display: block; 
  float: left; 
  height: 20px;
  text-decoration: none; 
  padding: 9px 15px 5px 15px;
  text-align: center;
  color: #FFF;
  border: none;} 

ul#menu li.selected a
{ height: 20px;
  padding: 7px 15px 4px 15px;}

ul#menu li.selected
{ margin: 7px 0 0 0;}

ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #FC9C04;}

ul#menu li a:hover
{ color: #FC9C04;}

#site_content
{ width: 858px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 10px 20px 40px 20px;
  background: #F6F6F0 url(images/back.png) repeat-y;
  border: 15px solid #FFF;} 
  
#footer
{ text-align: center; }

#sidebars
{ float: right; }

.sidebar
{ width: 200px;
  padding: 0 15px 20px 15px; }
 
.sidebar h3
{ margin-left: 20px; font-size: 150%; }

.sidebar ul
{ width: 178px; 
  padding: 4px 0 0 0; 
  margin: 4px 0 4px 0;}

.sidebar li
{ list-style: none; 
  padding: 0 0 7px 0; }

.sidebar li a, .sidebar li a:hover
{ padding: 0 0 0 35px;
  display: block;
  background: transparent url(images/link.png) no-repeat left center;
  border: 0;} 

.sidebar li a.selected
{ color: #444;} 

#content
{ text-align: left;
  width: 613px;
  padding: 0; 
  float: left; }

#content ul
{ margin: 2px 0 22px 0px;}

#content ul li
{ list-style-type: none;
  background: url(images/bullet.png) no-repeat;
  margin: 0 0 0 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

#footer
{ width: 916px;
  font-family: 'trebuchet ms', sans-serif;
  font-size: 90%;
  height: 28px;
  padding: 20px 0 5px 0;
  text-align: center; 
  background: transparent;
  color: #EEF3CD;
  text-transform: uppercase;
  letter-spacing: 0.1em;}

#footer p
{ padding: 0;}

#footer a, #footer a:hover
{ color: #EEF3CD;
  text-decoration: none;}

#footer a:hover
{ text-decoration: underline;}

.search
{ color: #555; 
  border: 1px solid #DDD; 
  width: 134px;
  padding: 5px;}
  
.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 20px 0;}

.form_settings span.field
{ float: left; 
  width: 100px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 0; 
  width: 99px; 
  margin: 0 0 0 305px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #3B3B3B; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}
  
table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ background: #3B3B3B;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ background: #E5E5DB;
  color: #47433F;
  border-top: 1px solid #FFF;}

 .post .post-title
{ display: inline-block; }
  
.post .post-category, .post-tags
  { float: left; margin-right: 10px; }
  
.post .tags-div
{ font-style: italic; display:inline; }

.post .tags-div a
{ margin-right: 5px; }

.post .posted-date
{ float: right; }

.post .row
{ clear: both; }

.post .post-body
{ margin-top: 25px; clear: both; }

.post .post-foot
{ float: right; }

.pager
{ margin-top:20px; clear: right; }

.pager .next
{ float: right; }

#search-form 
{ float: right; clear: both; }

#search-form  p
{ display: inline-block; }

#search-form #s
{ width: 140px; }

span.field-validation-error
{ color: red !important; }

.photo
{ float: left; margin-right: 10px; }

.tags
{ padding: 0 0 20px 20px; }

.tags a
{ margin: 3px; 
  display: inline-block; }

#disqus_thread ul {
  margin: 0 !important;
  padding: 0  !important;   
  list-style-type: none !important;
}

 #disqus_thread ul li {
  list-style-type: none !important;
  padding: 0  !important;  
  background: none !important;
 }

div.no-of-comments {
  float: right;
  margin-left: 10px;
}

div.share-links {
  margin-bottom: 10px;
}

div.share-links a {
  border-bottom: none !important;
}

div.feeddiv {
  float: right; 
  margin-bottom: 20px; 
  text-align: center;
  width: 200px;
}

    






/* IZ--------------------*/
.bottomContainer {
    width: 95%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    overflow: hidden;
}

.commentContainer {
    width: 70%;
    min-width: 520px;
    overflow: hidden;
}

    .commentContainer .commHeader {
        width: 98%;
        padding: 5px;
        color: #5353f6;
    }

        .commentContainer .commHeader .commentSort {
            float: right;
        }

            .commentContainer .commHeader .commentSort td {
                padding-left: 15px;
            }

                .commentContainer .commHeader .commentSort td a {
                    text-decoration: none;
                    color: blue;
                }

                .commentContainer .commHeader .commentSort td #active {
                    color: rgba(0, 49, 116, 0.57);
                }


.collapseComment {
    display: none;
}

blockquote {
    padding: 0 5px;
    background-color: rgba(255, 255, 0, 0.33);
}

.newComment {
    width: 93%;
    margin: 0 auto;
    margin-bottom: 5px;
    overflow: hidden;
}

    .newComment .comImg {
        float: left;
        margin-right: 5px;
    }

    .newComment .comTextdiv {
        width: 98%;
        min-height: 40px;
        max-height: 350px;
        border: 1.5px groove;
        border-bottom: none;
        border-right: none;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.58);
        overflow: auto;
        overflow-x: hidden;
        padding: 5px;
        line-height: 10px;
        font-size: 18px;
    }

    .newComment .comTextarea {
        width: 98%;
        min-height: 100px;
        border: 1.5px groove;
        border-bottom: none;
        border-right: none;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.58);
        overflow: auto;
        overflow-x: hidden;
        padding: 15px;
        font-size: 14px;
    }

    .newComment .comTextBtn {
        font-size: 24px;
        border: 1.5px groove;
        border-top: none;
        border-left: none;
        border-radius: 5px;
        float: right;
        background-color: rgba(255, 255, 255, 0.58);
        margin-top: 10px;
    }

[contentEditable=true]:empty:not(:focus):before {
    line-height: 40px;
    color: #aaa4a4;
    content: attr(data-ph);
}



.commentContainer .userComment {
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 5px;
    border: 1.5px groove;
    border-bottom: none;
    border-right: none;
    border-radius: 10px;
}

    .commentContainer .userComment .commentControl {
        float: right;
    }

        .commentContainer .userComment .commentControl a {
            text-decoration: none;
            color: blue;
            cursor: pointer;
        }

    .commentContainer .userComment .parentReply {
        width: 95%;
        padding: 10px 0 0 20px;
        margin-bottom: 5px;
    }

        .commentContainer .userComment .parentReply .childReply {
            padding: 10px 0 0 30px;
            margin-bottom: 5px;
        }

.commentContainer .commentUserName {
    color: blue;
}

    .commentContainer .commentUserName .cmntTime {
        color: gray;
        font-size: smaller;
    }

.commentContainer .commentDate {
    color: #5f80ff;
    font-style: italic;
}

.commentContainer .commentBody {
    margin-top: 25px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.replySubMenu {
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
    height: 25px;
    padding: 5px;
}

    .replySubMenu a {
        text-decoration: none;
        font-style: italic;
        color: #7575fb;
        line-height: 25px;
        margin: 0 5px;
        float: left;
    }

    .replySubMenu img {
        width: 20px;
        height: 20px;
    }

    .replySubMenu .shareParent {
        overflow: hidden;
        display: inline-block;
        position: relative;
    }

.postMenu {
    overflow: hidden;
    margin-bottom: 10px;
}

    .postMenu .postMenuSub {
        width: 55px;
        float: right;
    }

.commentMenu {
    width: 60px;
    float: right;
    overflow: hidden;
    margin-bottom: 10px;
}





.likeListheader{
    font-weight:bolder;
}




.ui-draggable, .ui-droppable {
	background-position: top;
}

.dd-selected-image {
    height :65px; 
}

.dd-option-image {
    width : 40px;
    height:inherit;
}


.user-image {
     border:1px solid lightgray;
     height:50px; 
     width:50px;
}























/*Upload images */

#upload-choices {
    width: 450px;
    float: left;
}

#upload-cut {
    margin-left: 0px;
    padding-top: 0px;
    min-width: 150px;
   
}

#preview{
    max-width: 100%;
    display: block;
    border : 1px solid #b3b3b3;

}

.editor-row {
    margin: 10px 0;
    height: 40px;
    width: 100%;
}

/*--------- */
.editor-row div {
	margin: 0; height: 40px; display: inline-block;
}

.editor-row div.editor-label {
    width: 150px;
}

.editor-row div.editor-field {
    width: 300px;
}

.editor-row .editor-field input {
    width: 300px; height: 100%; box-sizing: border-box;
}




#button1 {
    background: #3F9D4A; border: none; font-size: 1.2em; color: #FFF; padding: 7px 10px;
    border-radius: 4px; font-weight: bold; text-shadow: 0 1px 0 rgba(0,0,0,0.4); margin: 5px 0;
}



button1:hover{
    box-shadow: 0 0 10px #666;
}

/* btn menu for uploading img*/
.btn-nav-clop {
    margin-top: 10px;
}

.btn-nav-clop:hover{
    box-shadow: 0 0 10px #666;
}

/* Scroll userpics in User Profile*/
/* div .row  with scroll for pictures */
.row-scroll {
    overflow-x: auto;
    white-space: nowrap;
}
/* div with img with scroll for pictures */
.div-scroll-userpic, .div-scroll-userpic-display{
    border : 1px solid #b3b3b3;
    margin-right:3px;
    margin-bottom:3px;
    display: inline-block;
    float: none; /* Very important */
}


.icons-upload-image-menu {
    color:white;
    font-size: 10px;  
    padding:4px 4px 7px 4px;
}
.icons-upload-image-menu:hover{
     background-color: gray;
}

/*Clopped userpics panel*/
.div-userpics-padding{
    padding: 15px 0px 9px 0px;
    width: 52px;
    margin-left: auto;
    margin-right: auto;
}
 .userpic-panel-item{    
    border : 1px solid #b3b3b3;
    text-align:center;
   
}
.divImageMenu{    
   background-color: #b3b3b3;
}

.userpic-size {
    width: 50px;
    height: 50px;
   
}
/*[div-userpic-layout.width =userpic-size.width+2] to see border*/
.div-userpic-layout { 
    border : 1px solid #b3b3b3;
    width: 52px;
    height: 52px;
    overflow: hidden;
}

.div-crop-image {
    width:50px; height:50px; 
    overflow: hidden;
    border : 1px solid #b3b3b3
}

/*---------------------------------------------*/
 .userImage {
   
    height: 50px;
    width: 50px;
       
}


.commentContainer {
    border:1px solid gray;
    height: 50px;
    float: left;
    margin-right: 10px;
}


/*===============================*/

.modal-dialog  {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;  
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    margin:0px;padding:0px;
    /* To center horizontally */
    margin: 0 auto;
}

/*--------------------*/
 .stopImageMenu:hover
   {
       color:#999999 ; 
    
   }


 .user-logo {
      border : 1px solid #b3b3b3;
      padding:7px;
 }

  .user-logo img{

      width:70px;
      height:70px;

  }

.back-grey {
    background-color:gray
}



/*Override bootstrap*/
.pagination  > li > a,
.pagination  > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover { 
    color: gray;    
}

.pagination  > li.active > a,
.pagination  > li.active > a:focus,
.pagination > li.active > a:hover,
.pagination > li.active > span:focus,
.pagination > li.active > span:hover {
    z-index: 3;
    color: white;
    background-color: gray;
    border-color: gray;
}

