﻿



/* Make aligning text responsive */
/* https://github.com/twbs/bootstrap/issues/11292 */

.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-justify-xs {
        text-align: justify;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-justify-sm {
        text-align: justify;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }
    .text-left-md {
        text-align: left;
    }
    .text-center-md {
        text-align: center;
    }
    .text-right-md {
        text-align: right;
    }
    .text-justify-md {
        text-align: justify;
    }
}
@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-center-lg {
        text-align: center;
    }
    .text-right-lg {
        text-align: right;
    }
    .text-justify-lg {
        text-align: justify;
    }
}



/*ira*/

/* div with img with scroll for pictures */
.tags-div {
    display: inline-block;
    float: none; /* Very important */
}

.userpic-size{
    width:50px;
    height:50px;
    border: solid 1px lightgray;

}

.div-comment-top {
    background-color:lightgray;
    padding:10px;
}

.comment-top{
    display: inline-block;
    float: none; /* Very important */
    vertical-align:top;
}
.comment-menu-items {
    color: gray;
}

.row-bottom-comment-menu {
    
    margin-top:2px;
    margin-bottom:10px;
}

.row-comment-body {
     margin-top:2px;
    margin-bottom:16px;
}

.linklike:hover{
    color:black;
}


/*Override bootstrap*/
.pagination  > li > a,
.pagination  > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover { 
    color: gray;    
}

.pagination  > li.active > a,
.pagination  > li.active > a:focus,
.pagination > li.active > a:hover,
.pagination > li.active > span:focus,
.pagination > li.active > span:hover {
    z-index: 3;
    color: white;
    background-color: gray;
    border-color: gray;
}

.userpic-size-md {
    width:80px;
    height:80px;
    
    border: solid 1px lightgray;
}

.userpic-size-lg {
    width:100px;
    height:100px;
    
    border: solid 1px lightgray;
}

.userpic-size-xs {
    width:35px;
    height:35px;
    
    border: solid 1px lightgray;
}

.userpic-size-sm {
    width:50px;
    height:50px;
    
    border: solid 1px lightgray;
}

.user-enterance1{
   
    background-color :#f4f4f4;
  
    padding:12px 0px 12px 0px;
    

}
















/* btn menu for uploading img*/
.btn-nav-clop {
    margin-top: 10px;
}

.btn-nav-clop:hover{
    box-shadow: 0 0 10px #666;
}

/* Scroll userpics in User Profile*/
/* div .row  with scroll for pictures */
.row-scroll {
    overflow-x: auto;
    white-space: nowrap;
}
/* div with img with scroll for pictures */
.div-scroll-userpic, .div-scroll-userpic-display{
    border : 1px solid #b3b3b3;
    margin-right:3px;
    margin-bottom:3px;
    display: inline-block;
    float: none; /* Very important */
}


.icons-upload-image-menu {
    color:white;
    font-size: 10px;  
    padding:4px 4px 7px 4px;
}
.icons-upload-image-menu:hover{
     background-color: gray;
}

/*Clopped userpics panel*/
.div-userpics-padding{
    padding: 15px 0px 9px 0px;
    width: 52px;
    margin-left: auto;
    margin-right: auto;
}
 .userpic-panel-item{    
    border : 1px solid #b3b3b3;
    text-align:center;
   
}
.divImageMenu{    
   background-color: #b3b3b3;
}

.userpic-size {
    width: 50px;
    height: 50px;
   
}
/*[div-userpic-layout.width =userpic-size.width+2] to see border*/
.div-userpic-layout { 
    border : 1px solid #b3b3b3;
    width: 52px;
    height: 52px;
    overflow: hidden;
}

.div-crop-image {
    width:50px; height:50px; 
    overflow: hidden;
    border : 1px solid #b3b3b3
}

/*---------------------------------------------*/
 .userImage {
   
    height: 50px;
    width: 50px;
       
}


.commentContainer {
    border:1px solid gray;
    height: 50px;
    float: left;
    margin-right: 10px;
}


/*===============================*/

.modal-dialog  {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;  
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    margin:0px;padding:0px;
    /* To center horizontally */
    margin: 0 auto;
}

/*--------------------*/
 .stopImageMenu:hover
   {
       color:#999999 ; 
    
   }


 .user-logo {
      border : 1px solid #b3b3b3;
      padding:7px;
 }

  .user-logo img{

      width:70px;
      height:70px;

  }

.back-grey {
    background-color:gray
}



/* responsive video 
https://milanaryal.com/implementing-responsive-images-videos-and-tables-with-bootstrap/*/

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}



 .glyphicon-none:before {
    content: "\2122";
    color: transparent !important;
}
.demo-icons
{
    color:gray;
}
dt {
    margin-top:10px !important;
}


.img-demo {
    padding:15px; 
    margin-bottom:40px;
    border:solid 1px lightgray;
}

.demo-img-div {
    border:solid 1px lightgray;padding: 26px 0px 10px 0px; margin: 10px 10px 10px 10px;
}

.grid-btn {
    border:solid 1px lightgray;
    padding: 10px 10px 10px 30px;
    
}
#radioCustomExtra
{
    border:solid 1px lightgray;
    border-top:solid 0px lightgray;  
    padding: 10px 10px 10px 30px;
    
}

.field-validation-error{ color: red; font-weight: bold; }
.input-validation-error{  border: 1px solid red; }

.badge {
    background-color: gray !important;
}
.navigation-posts  .badge{
    background-color:#cfd8dc  !important;
    color:#0d47a1  !important;
   
}

/* http://tutorialsplane.com/bootstrap-vertical-and-horizontal-divider/ */
.h-divider {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px;
    width: 100%;
    border-top: 1px solid gray;
}
.v-divider{
 margin-left:5px;
 margin-right:5px;
 width:1px;
 height:100%;
 border-left:1px solid gray;
}

.about-analytics {
    padding-left: 25px;
}

