﻿@model int

@{Random rnd = new Random();}
@for (int i = 0; i < Model; i++)
{
    var src = "poster" + rnd.Next(1, 8) +".jpg";
   
   @Html.Raw("Poster by <a  href='/User/GetProfile/Hirschfeld'>Al Hirschfeld</a><br />")
    <img class="img-responsive" src="~/content/posters/@src" style="margin-bottom:40px; padding:30px;" />

}



@*
    @if (Model.Count > 0)
    {
        <span>Al Hershvild cartoons (Ad)</span><br />
        foreach (var i in Enumerable.Range(1, Model.Count).Select(a => Model.FileName + a + ".jpg"))
        {
            <span>Pavarotti</span><br />

            <img class="img-responsive col-xs-12" src="~/content/userimages/@i" /><br/><br />


        }
    }
*@