﻿@model  IEnumerable<ApplicationUser>
@using LJ.Models.User;
@using LJ.Models.Account;

@{
  var userMarx = Model.Where(u => u.UserName == "Marx").FirstOrDefault();
  var userHirschfeld = Model.Where(u => u.UserName == "Hirschfeld").FirstOrDefault();
  var admins = Model.Where(u => u.Roles.Any(r => r.RoleId == ViewBag.AdminId)).ToList();
  var users = Model.Where(u => u.Roles.All(r => r.RoleId != ViewBag.AdminId)).ToList();

  }

<h4><b>Administrators</b></h4>
<div class="row" style="margin-top:15px;">

    @foreach (var u in admins)
    {
        <div class="col-xs-6  col-sm-6 col-md-4 text-center">
            <div class="demo-img-div">
                <a href="/User/GetProfile/@u.UserName" title="See @u.UserName profile">
                    <img class="userpic-size-md " src="@(u.DefaultUserImage ==null ? Url.Content(" ~ /Content/UserImages/NoImage.jpg") : @Url.Content("/Blog/GetImage?id=" + u.DefaultUserImageId))">
                </a>
                @using (Html.BeginForm("LoginDemo", "Account", FormMethod.Post))
                {
                    @Html.Hidden("Email", u.Email)
                    @Html.Hidden("Password", u.password2)
                    @Html.Hidden("RememberMe", false)

                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-default btn-sm text-left " style="margin-top:10px;" title="Log in as @u.UserName">
                        <span class="glyphicon glyphicon-user"></span>  @u.UserName
                    </button>
                }
            </div>
        </div>

    }
</div>

<h4><b>Users</b></h4>
    <div class="row" style="margin-top:15px;margin-bottom:40px;">
   
        @foreach (var u in users)
        {
            <div class="col-xs-6  col-sm-6 col-md-4 text-center">
                <div class="demo-img-div">
                    <a href="/User/GetProfile/@u.UserName" title="See @u.UserName profile">
                        <img class="userpic-size-md " src="@(u.DefaultUserImage ==null ? Url.Content(" ~ /Content/UserImages/NoImage.jpg") : @Url.Content("/Blog/GetImage?id=" + u.DefaultUserImageId))">
                    </a>
                    @using (Html.BeginForm("LoginDemo", "Account", FormMethod.Post))
                    {
                        @Html.Hidden("Email", u.Email)
                        @Html.Hidden("Password", u.password2)
                        @Html.Hidden("RememberMe", false)

                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-default btn-sm text-left " style="margin-top:10px;" title="Log in as @u.UserName">
                            <span class="glyphicon glyphicon-user"></span>  @u.UserName
                        </button>
                    }
                </div>
            </div>
          
        }
    </div>




  


