﻿<!DOCTYPE html>user-menubar

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/lj/lj.css")" /> 
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
</head>

<body>
    <div id="main">

        <!-- Header -->
        <div id="header">
            <div id="logo">
                <div id="logo_text">
                    <h1><a href="/">Blog<span class="logo_colour">LG</span></a></h1>
                    <div id="user-menubar">
                        <ul id="menu">                           
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Top", "GetTopPosts", "Blog")</li>
                            <li>@Html.ActionLink("Bloggers", "GetUsers", "Home")</li>
                            <li>@Html.ActionLink("About", "Index", "Home")</li> 
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Navigation -->
            <div id="menubar">
                <ul id="menu">
                    <li>@Html.ActionLink("Posts", "Index", "Home")</li>
                    <li>@Html.ActionLink("Friends", "GetPosts", "Blog")</li>
                    <li>@Html.ActionLink("Profile", "GetPosts", "Blog")</li>
                    <li>@Html.ActionLink("About", "Index", "Home")</li> 
                </ul>
            </div>
        </div>

        <!-- Site Content -->       
            <div id="site_content">
                @Html.Partial("_Search")
                @RenderBody()
                @Html.Action("Sidebars")
                
            </div>
            
        
        

        <!-- Footer -->
        <div id="footer">
            Copyright  @DateTime.Now.Year LJ All Rights Reserved
        </div>
    </div>

    <!-- jquery library -->
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    
    
    <!-- ajax library -->
   @* <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>*@
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script> 
    
    <!-- jquery ui library -->
        <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <!-- jquery ddslick library -->
    <script src="/Scripts/Custom/JavaScript1.js"></script>
    <!-- jquery template library -->
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <!-- LJ Custom library -->
    <script src="@Url.Content("~/Scripts/Custom/lj1.js")"></script>
    <script src="~/Scripts/custom/blog.js"></script>

</body>
</html>
