﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Stylesheets -->
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">

    <!-- Bootstrap Dialog -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/lj/lj.css")" />
    @RenderSection("Styles", false)
    

</head>
<body>
    <div class="navbar navbar-inverse" style="margin-bottom:0px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LJ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>          
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Top", "GetTopPosts", "Blog")</li>
                    <li>@Html.ActionLink("Bloggers", "GetUsers", "User")</li>                      
                    <li>@Html.ActionLink("Set Up", "GetSetUp", "User")</li>  
                    <li>@Html.ActionLink("Edit Profile", "EditProfile", "User")</li> 
                    <li>@Html.ActionLink("Upload", "UploadImage", "User")</li>                  
                </ul>
                             
                    @Html.Partial("_LoginPartial")
                    @RenderSection("UserMenuContent", required: false)
             </div>
        </div>
    </div>
    <div class="panel panel-default" style="background-color:gray; border-color:gray; color:lightgray">
        @RenderSection("CurrentPageInfo", required: false)
    </div>
    
    <div class="container body-content">
        @RenderSection("MainContent", required: false)
        @RenderBody()
        <hr />
        <footer>
            @RenderSection("FooterContent", required: false)
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

  @*Scripts.Render("~/bundles/bootstrap")*@  
    <!-- Scripts Level 0-->
    <!-- jquery library -->
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.js")"></script> 
    <!-- support jQuery.browser -->
    <script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
    <!-- bootstrap -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
    <!-- Bootstrap Dialog -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script> 
    @RenderSection("Scripts", required: false)
</body>
</html>
