﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{


    var appUserName = User.Identity.GetUserName();
    var defautUserImageId = User.Identity.GetIdentityImageId();


    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">

                <img src="~/Blog/GetImage/@defautUserImageId" class="img-circle userpic-size-sm" />
                &nbsp;&nbsp;@appUserName
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="@Url.Action( "GetProfile", "User", new { id = @appUserName })">
                        Profile
                    </a>
                </li>




                <li role="presentation" class="divider"></li>

                <li>@Html.ActionLink("New Post", "EditPost", "Blog", new { id = @appUserName }, null)</li>

                <li>
                    <a href="@Url.Action("GetUserPosts", "Blog", new { id = @appUserName })">
                        My Posts
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("GetFriendsPosts", "Blog", new { id = @appUserName })">
                        Friends Posts
                    </a>
                </li>

                <li role="presentation" class="divider"></li>
                <li>
                    <a href="@Url.Action( "EditProfile", "User", new { id = @appUserName })">
                        Manage Profile
                    </a>
                </li>
                <li>@Html.ActionLink("Manage Friends List", "ManageFriends", "User", new { id = @appUserName }, null)</li>
                <li>@Html.ActionLink("Manage Friends Groups", "ManageFriendsGroups", "User", new { id = @appUserName }, null)</li>

                <li role="presentation" class="divider"></li>
                <li>@Html.ActionLink("Statistics by Posts", "GetPostsStatistics", "User", new { id = @appUserName }, null)</li>
                <li>@Html.ActionLink("Statistics by Comments", "GetCommentsStatistics", "User", new { id = @appUserName }, null)</li>
                <li>@Html.ActionLink("Statistics by Friends", "GetFriendsStatistics", "User", new { id = @appUserName }, null)</li>

                <li role="presentation" class="divider"></li>
                <li>@Html.ActionLink("Statistics by Blog Ratings", "GetUserRatingStatistics", "User", new { id = @appUserName }, null)
                </li>

        <li role="presentation" class="divider"></li>
        <li>@Html.ActionLink("Statistics by Visited pages", "GetVisitorStatisticsForUser", "User", new { id = @appUserName }, null)</li>
        <li>@Html.ActionLink("Statistics by Bounce pages", "GetBouncePagesForUser", "Visitor", new { id = @appUserName }, null)</li>
        <li>@Html.ActionLink("Statistics by Exit pages", "GetExitPagesForUser", "Visitor", new { id = @appUserName }, null)</li>

        <li role="presentation" class="divider"></li>
        <li><a href="@Url.Action("ChangePassword", "Manage")">Change Password </a></li>
        <li><a href="@Url.Action("ManageLogins", "Manage")">Manage Logins </a></li>

        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()">
                Log off
            </a>
        </li>
    </ul>
   </li>
 </ul>
 }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
