﻿@model LJ.ViewModels.ModelViewSideBar
@using LJ.Models.User;
@{
    var mv = Model;
    long actionId = Model.UserPanelInfo.FriendType & (long)FriendType.Action;
    string action = "Get" + Enum.GetName(typeof(FriendType), actionId);
    int categoryid = Model.Category == null ? 0 : Model.Category.Id;
    int tagid = Model.Tag == null ? 0 : Model.Tag.Id;
    var isTop = action == "GetTopPosts";
    var isFriends = action == "GetFriendsPosts";
    }


<div class="row">
    <div class="  col-xs-12 text-left">
        <ol class="breadcrumb">
            @if (isTop)
            {
             <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-cog"></span></a></li>
             <li class="active">Top  Filters</li>
            }
            else if (isFriends)
            {
             <li><a href="#"><span class="glyphicon glyphicon-user"></span> @Model.UserPanelInfo.UserName</a></li>
             <li class="active">Friends Filters</li>
            }
            else 
            {
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> @Model.UserPanelInfo.UserName</a></li>
                <li class="active">Filters</li>
            }
  
        </ol>
    </div>
</div> 

<div id="sidebars">
    <div class="sidebar">
        <h3>Categories</h3>

        @if (Model != null && mv != null && mv.Categories != null && mv.Categories.Count()>0)
        {
            <ul>
                @foreach (var category in mv.Categories)
                {
                    <li>@Html.CategoryLink(category, Model.UserPanelInfo.UserName, action, mv.PageSize)</li>
                    
                }
            </ul>
        }
        else
        {
            <p>No categories found!</p>
        }
    </div>
   
    <div class="sidebar">
        <h3>Tags</h3>

        @if (Model != null && mv != null && mv.Tags != null && mv.Tags.Count() > 0)
        {
            <ul>
                @foreach (var tag in mv.Tags)
                {
                    <li>@Html.TagLink(tag, Model.UserPanelInfo.UserName, action, mv.PageSize)</li>
                }
            </ul>
        }
        else
        {
            <p>No tags found!</p>
        }
    </div>

    <div class="sidebar">
        <h3>Latest Posts</h3>

        @if (Model != null && mv != null && mv.LatestPosts != null && mv.LatestPosts.Count() > 0)
        {
            <ul>
                @foreach (var post in mv.LatestPosts)
                {
                    <li>@Html.PostLink(post, categoryid, tagid)</li>
                }
            </ul>
        }
        else
        {
            <p>No posts found!</p>
        }
    </div>
</div>