﻿@model LJ.ViewModels.User.UserPanelInfo
@using LJ.Models.User;

@{
    var strclass = (((int)FriendType.MySelf & Model.FriendType) == 0) ? "col-md-5  col-md-push-1 col-xs-12" : "col-md-6   col-xs-12";
    var hasGroups = !(Model.FriendGroups == null || Model.FriendGroups.Count() == 0);
}


<div class="row" style="margin-bottom:10px;">
    <div class="@strclass">
        <ul class="list-inline">
            @if (((int)FriendType.MySelf & Model.FriendType) > 0)
            {
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Posts
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("My Posts", "GetUserPosts", "Blog", new { id = Model.UserName, pageSize = Model.PostsPerPage }, null)</li>
                        <li role="presentation" class="divider"></li>
                        <li>@Html.ActionLink("New Post", "EditPost", "Blog")</li>

                    </ul>
                </li>
                
            }
            else
            { 

            <li>@Html.ActionLink("User Posts", "GetUserPosts", "Blog", new { id = Model.UserName, pageSize = Model.PostsPerPage }, null)</li>
            }

            @if (((int)FriendType.MySelf & Model.FriendType) == 0)
            {                
                <li>@Html.ActionLink("Profile", "GetProfile", "User", new { id = Model.UserName, pageSize = Model.PostsPerPage }, null)</li>

            }
            else
            {
                if (hasGroups)
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Friends Line
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                           
                            <li>@Html.ActionLink("Friends Posts", "GetFriendsPosts", "Blog", new { id = Model.UserName, pageSize = Model.PostsPerPage }, null)</li>
                            <li role="presentation" class="divider"></li>
                           
                            @foreach ( var gr in Model.FriendGroups)
                            {
                            <li>@Html.ActionLink("Group \"" +gr.Name + "\" Posts", "GetFriendsPosts", "Blog", new { id = Model.UserName, groupid = gr.Id, pageSize = Model.PostsPerPage }, null)</li>
                            }
                        </ul>
                    </li>
                }
                else
                {
                <li>@Html.ActionLink("Friends Line", "GetFriendsPosts", "Blog", new { id = Model.UserName, pageSize = Model.PostsPerPage }, null)</li>
                }               
                 <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Manage
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                           
                            <li>@Html.ActionLink("Profile", "EditProfile", "User", new { id = Model.UserName, pageSize = Model.PostsPerPage }, null)</li>
                            <li role="presentation" class="divider"></li>
                            <li>@Html.ActionLink("Friends List", "ManageFriends", "User", new { id = Model.UserName }, null)</li>
                            <li>@Html.ActionLink("Friends Groups", "ManageFriendsGroups", "User", new { id = Model.UserName }, null)</li>                           
                        </ul>
                    </li>
                 <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                           Statistics 
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu"> 
                            <li>@Html.ActionLink("by friends", "GetFriendsStatistics", "User", new { id = Model.UserName }, null)</li>
                            <li>@Html.ActionLink("by posts", "GetPostsStatistics", "User", new {id = Model.UserName }, null)</li>
                            <li>@Html.ActionLink("by comments", "GetCommentsStatistics", "User", new { id = Model.UserName }, null)</li>
                            <li role="presentation" class="divider"></li>
                            <li>@Html.ActionLink("by blog ratings", "GetUserRatingStatistics", "User", new { id = Model.UserName }, null)</li>
                            <li role="presentation" class="divider"></li>
                            <li>@Html.ActionLink("by visited pages", "GetVisitorStatisticsForUser", "User", new { id = Model.UserName }, null)</li>
                            <li>@Html.ActionLink("by bounce pages", "GetBouncePagesForUser", "Visitor", new { id = Model.UserName }, null)</li>
                            <li>@Html.ActionLink("by exit pages", "GetExitPagesForUser", "Visitor", new { id = Model.UserName }, null)</li>    
                        </ul>
                    </li>
            }
        </ul>
    </div>


    <div class="col-md-3  col-xs-5  text-right">
        <div id="linkManageFriend">
            <b><span class="glyphicon glyphicon-user"></span> @Html.ActionLink(Model.UserName, "GetProfile", "User", new { id = Model.UserName }, null)</b>
            @if (((int)FriendType.CanAdd & Model.FriendType) == 0)
            {
                <a class="btn btn-xs  btn-default comment-menu-items link-add-friend" href="/User/AddFriend?username=@Model.UserName" title="Add  @Model.UserName to your friend list">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            }
            else if (((int)FriendType.CanDelete & Model.FriendType) > 0)
            {
                <a class="btn btn-xs  btn-default comment-menu-items link-delete-friend" href="/User/DeleteFriend?username=@Model.UserName" title="Delete @Model.UserName from your friend list">
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </a>
            }
        </div>
    </div>


    <div class="col-md-3  col-xs-7  ">
        <img id="imgDefault" class="userpic-size-lg img-responsive" src="/Blog/GetImage/@Model.DefaultUserImageId">
    </div>
</div>
